<!DOCTYPE html>
<html>

<head>
	<title>Teacher Signup</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<h1>Teacher Signup</h1>
<form action="/teacher/signup" autocomplete="off" method="post">
	<label for="username">Username</label>
	<input required type="text" id="username" placeholder="Please enter your username to signup" name="username"
		required>
	<label for="password">Password</label>
	<input required type="password" id="password" placeholder="Please enter your password to signup" name="password"
		required>
	<label for="email">Email:</label>
	<input required type="email" id="email" name="email" placeholder="Please enter your email address to signup"
		required maxlength="50">
	<br>
	<br>
	<button id="teacher-signup-button" type="submit">Signup</button>
</form>
{% if username_taken_error %}
<p class="error-message">{{ username_taken_error }} </p>
<button onclick="window.location.href='/teacher/login'" name="teacher-login" value="teacher-login" id="teacher-login">Go
	to Teacher Login</button>
{% endif %}
{% if not_ku_error %}
<p class="error-message">{{ not_ku_error }} </p>
{% endif %}
{% if credentials_coincide_error %}
<p class="error-message">{{ credentials_coincide_error }} </p>
{% endif %}
{% if email_taken_error %}
<p class="error-message">{{ email_taken_error }} </p>
<button onclick="window.location.href='/teacher/login'" name="teacher-login" value="teacher-login" id="teacher-login">Go
	to Teacher Login</button>
{% endif %}
{% if invalid_password_error %}
<p class="error-message">{{invalid_password_error}} </p>
{% endif %}
{% if signup_error_message %}
<p class="error-message">{{ signup_error_message }}</p>
<button onclick="window.location.href='/teacher/login'" name="teacher-login" value="teacher-login" id="teacher-login">Go
	to Teacher Login</button>
{% endif %}
</body>

</html>