<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Screen</title>
    <link rel="stylesheet" type="text/css" href="../static/screen.css">
</head>

<h1>Admin Screen</h1>
<input type="button" value="Login" onclick="location.href='/admin/login';">
<br>
<input type="button" value="Signup" onclick="location.href='/admin/signup';">
<br>
<input type="button" value="Go Back" onclick="location.href='/logout';">
</body>

</html>