<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/see_all_users.css">
    <title>SeeUsers</title>
</head>

<h1>All Users</h1>

<ul>
    {% for username in usernames %}

    <form method="GET" action="/editUser">
        <li>{{ username }} <button type="submit">Edit User</button></li>
    </form>

    {% endfor %}
</ul>
</body>
</body>

</html>