<!DOCTYPE html>
<html>

<head>
    <title>Admin Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_signup.css') }}">
</head>

<body>
    <h1>Admin Signup</h1>
    <form action="/admin/signup" autocomplete="off" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Please enter your username to signup" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Please enter your password to signup"
            required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Please enter your email to signup" required="email"
            maxlength="50">
        <br><br>
        <input type="submit" value="Signup">
    </form>
    {% if username_taken_error %}
    <p>{{ username_taken_error }} </p>
	<button onclick="window.location.href='/admin/login'" name="admin-login" value="admin-login"
        id="admin-login">Go to Admin Login</button>
    {% endif %}
    {% if not_ku_error %}
    <p>{{ not_ku_error }} </p>
    {% endif %}
    {% if email_taken_error %}
    <p>{{ email_taken_error }} </p>
	<button onclick="window.location.href='/admin/login'" name="admin-login" value="admin-login"
        id="admin-login">Go to Admin Login</button>
    {% endif %}
    {% if credentials_coincide_error %}
    <p>{{credentials_coincide_error}} </p>
    {% endif %}
    {% if invalid_password_error %}
    <p>{{ invalid_password_error|safe }} </p>
    {% endif %}
    {% if signup_error_message %}
    <p>{{ signup_error_message }}</p>
    <button onclick="window.location.href='/admin/login'" name="admin-login" value="admin-login"
        id="admin-login">Go to Admin Login</button>
    {% endif %}
</body>
</html>