<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/see_IT_reports.css">
    <title>See IT Reports</title>
</head>

<h1>All IT Reports</h1>

<table class="IT_Report_logdb">
    <thead>
        <tr>
            <th>IT Report_no :</th>
            <th>Room Name:</th>
            <th>Faculty Name:</th>
            <th>Problem Description:</th>
            <th>Date:</th>
            <th>Time:</th>

        </tr>

    </thead>
    <tbody>
        {% for row in IT_Reports %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }} </td>
            <td> 
            <form action="/editITReport" method="GET">
                <input type="hidden" name="row_data" value="{{ row|join(',') }}">
                <button>Edit IT Report</button>
            </form>
           </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>

</html>