<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/see_all_reservations.css"
    />
    <title>Admin Observes Reservations</title>
  </head>
  <body>
    <h1>All Reservations</h1>
    <table class="reservations">
      <thead>
        <tr>
          <th>Id</th>
          <th>Role</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Username</th>
          <th>Public or Private</th>
          <th>Classroom</th>
          <th>Priority Reserved</th>
        </tr>
      </thead>
      <tbody>
        {% for row in reservations %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
          <td>{{ row[8] }}</td>
          <td>
            <form action="/editReservedClassroom" method="GET">
              <input
                type="hidden"
                name="row_data"
                value="{{ row|join(',') }}"
              />
              <button>Edit Reservation</button>
            </form>
          </td>
          <td>
            <form action="/enterChat" method="GET">
              <input type="hidden" name="row_data" value="{{ row|join(',') }}">
              <input type="hidden" name="classroom" value="{{ row[7] }}">
              <br>
              <button class="chatting">Enter Chat for This Classroom</button>
          </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
