<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Rooms</title>
</head>

<!----------------Chat *-------------------------------------------------->
<div id="chatForm">
    <form action="" method="POST" style="text-align:center;">
        <h1>Welcome, {{ session['username'] }}</h1>
        <h2>Chat Here</h2>
        <button
            onclick="alert('Be nice in chat. You should be conducting to all the rules of the Koc University.')">Chat
            Rules:</button>
        <div class="chat-history-box">
            <label for="class-select">Which class reservation are you chatting for?</label>
            <select id="class-select" name="class">
                <option value="engz50">engz50</option>
                <option value="sci120">sci120</option>
                <option value="sosb10">sosb10</option>
                <option value="sosb09">sosb09</option>
            </select>

        </div>


        <input required type="text" name="message_to_be_sent" placeholder="Enter the message to be sent.">

        <button type="submit">Send message</button>
    </form>
</div>


<!----------------Chat *-------------------------------------------------->


<!----------------Chat *-------------------------------------------------->
<div id="chatForm"></div>
<form action="chat_action">
    <label for="Please select class to chat"></label>
    <input required type="text" name="classroom" placeholder="Enter the class to chat.">
    <br>
    <button type="submit">Go to chat.</button>
</form>
</div>


<div id="chatForm">
    <form action="" method="POST" style="text-align:center;">
        <h1>Welcome, {{ session['username'] }}</h1>
        <h2>Chat Here</h2>
        <button
            onclick="alert('Be nice in chat. You should be conducting to all the rules of the Koc University.')">Chat
            Rules:</button>
        <div class="chat-history-box">
            <label for="class-select">Which class reservation are you chatting for?</label>
            <select id="class-select" name="class">
                <option value="engz50">engz50</option>
                <option value="sci120">sci120</option>
                <option value="sosb10">sosb10</option>
                <option value="sosb09">sosb09</option>
            </select>

        </div>


        <input required type="text" name="message_to_be_sent" placeholder="Enter the message to be sent.">

        <button type="submit">Send message</button>
    </form>
</div>
</body>

</html>