<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{classroom}}</title>
    <link rel="stylesheet" type="text/css" href="../static/chat_room_theme.css">

</head>

<h1>Welcome to chatroom for {{classroom}}. Please be nice.</h1>


<div class="message_hist" id="message_hist">Chat history</div>

<form>
    <label for="">Enter text to chat</label>
    <input required type="text" name="message_input required " placeholder="Enter message">
    <button type="submit" onclick="send_the_message()"></button>>Send message</button>
</form>
<form action="/reportingChat" method="POST" class="chat_report" id="chat_report">
    <label for="report-label">Report Unethical Chat Users From Here:</label>
    <br>
    <label for="problem-label">Please describe problem here:</label>
    <br>
    <textarea id="problem_description" name="problem_description" rows="4" cols="50"></textarea>
    <br>
    <button type="submit">report_to_chat</button>
</form>
<form action="/reportingChat" method="POST">
    <label for="report-label">Report Unethical Chat Users From Here:</label>
    <br>
    <label for="problem-label">Please describe problem here:</label>
    <br>
    <textarea id="problem_description" name="problem_description" rows="4" cols="50"></textarea>
    <br>
    <button type="submit">report_to_chat</button>
</form>
</body>


</html>