body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    background-image: url("../static/images/class_room.jpeg");
    background-size: cover;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #3e8e41;
}

.error-message {
    color: #e74c3c;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
  }
  
  .error-message:hover {
    transform: scale(1.05);
  }
  

  