body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

form {
    display: block;
    margin-bottom: 20px;

    margin: 0 auto 20px auto;

    width: 500px;
}


button {
    display: block;
    margin-bottom: 20px;

    margin: 0 auto 20px auto;

    width: 200px;
    height: 50px;
    border-radius: 240%;
    background-color: pink;
}