body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url("../static/images/classroom.png");
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 20px;
    background-color: #3b5998;
    color: #fff;
}

.message_hist {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    height: 300px;
    overflow-y: scroll;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2d4373;
}

.chat_report {
    margin-top: 20px;
}

textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
}