.customizeScreen {
    background-color: #F5F5F5;
    background-image: url("../static/images/classroom.png");
    background-size: cover;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;

}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

#brightnessControl {
    margin-bottom: 20px;
}

#brightnessSlider {
    width: 80%;
}

#bgColorSelector {
    width: 100px;
    height: 30px;
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #3e8e41;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

body {
    font-size: 24px;
    color: #333;
    background-color: #fff;
}

h2,
h4 {
    font-size: 36px;
    color: black;
}

#bgColorSelector {
    font-size: 28px;
}

button {
    font-size: 28px;
    color: #FFF;
    background-color: #F00;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: #333;
    
}

