.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.buttons {
    margin: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-top: 30px;
}

.buttons button {
    font-size: 24px;
    padding: 20px 30px;
    border-radius: 30px;
    background-color: #4267B2;
    color: white;
    border: none;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #166fe5;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: #1877f2;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}


button {
    margin-top: 20px;
    margin-bottom: 20px;

}

button:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: purple;
    color: white;
    transform: scale(1.10);

}

button {
    color: black;
}
