body {
  background-color: #003638;
  font-family: Arial, sans-serif;
  background-image: url("../static/images/classroom.png");
  background-size: cover;
  margin: 10px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  font-weight: bold;
  color: black;
  background-color: lightgreen;
  border-radius: 4px;
  margin: 10px;
}

ul {
  list-style: none;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

li {
  font-size: 2rem;
  padding: 10px 20px;
  font-weight: bold;
  border-bottom: 2px solid #222;
  color: #222;
}

input[type="text"] {
  padding: 4px;
  font-size: 2rem;
  border-radius: 5px;
  border: 2px solid #222;
  margin-right: 20px;
}

.save_field_button {
  background-color: #dd2c00;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.6rem;
  margin-right: 20px;
  margin-bottom: 7px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px #222;
}

.save_field_button:hover {
  background-color: #ff3d00;
  color: #ffffff;
  box-shadow: 2px 2px #333;
  transform: scale(1.05);
}

.edit_it_button,
.delete_it_button,
.save_reservation,
.save_user_information,
.delete_class_reservation,
.delete_user,
.dashboard {
  display: block;
  margin: 10px auto;
  background-color: red;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px #222;
}

.edit_it_button:hover,
.delete_it_button:hover,
.save_reservation:hover,
.save_user_information:hover,
.delete_class_reservation:hover,
.delete_user:hover,
.dashboard:hover {
  background-color: #ff0000;
  box-shadow: 2px 2px #333;
  transform: scale(1.05);
}






