* {

    font-family: Arial, Helvetica, sans-serif;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40;
    border-radius: 20px;
    border-color: blue;
    border-style: solid;

}