body {
    background-color: #e5e5e5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #075e54;
    color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
}

#chat-history {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    height: 400;

    max-width: 800px;
    overflow-y: scroll;
    padding: 20px;

}


p {
    background-color: skyblue;
    border-radius: 5px;
    padding: 10px;
}

p .role {
    background-color: skyblue;
    border-radius: 5px;
    padding: 10px;

}


ul {
    background-color: rgb(36, 108, 108);
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    padding: 0;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    width: 400px;
    margin-right: 10px;
}

button {
    background-color: #075e54;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover {
    background-color: skyblue;
}

.chat-history {
    margin-left: 400px;
    overflow-y: scroll;
    height: 400px;
    width: 50%;
    scroll-padding-bottom: 9999px;

}



p {
    background-color: rgb(138, 235, 135);
    border-radius: 5px;
    color: white;
    font-size: 20px;

}

p .role {
    color: white;
    font-size: 40px;
    background-color: rgb(177, 135, 235);
    border-radius: 5px;

}