body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.news-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0;
  height: 200px;
  overflow-y: scroll;
  color: aqua;
}

.news p {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  color: darkgreen;
}

.news-item {
  margin-bottom: 10px;
  white-space: nowrap;
}
