* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
}

body, h2, p {
  font-family: Arial, sans-serif;
  color: #333;
}


h2 {
  text-align: center;
  margin-top: 40px;
}


.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


.news p {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 1000px;
  text-align: center;
}


a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
