body {
    font-family: Arial, sans-serif;
    background-color: beige;
  }
  
  h1, h2 {
    font-weight: bold;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .my_div {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin: 32px auto;
    max-width: 600px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    margin-bottom: 16px;
  }
  
  select {
    height: 40px;
  }
  
  button[type="submit"] {
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #005f6b;
  }
  
  .other-label {
    font-weight: bold;
    margin-top: 16px;
  }
  
  .option-label {
    display: block;
    margin-bottom: 8px;
  }
  
  #class-selector {
    margin-bottom: 16px;
  }
  
  @media only screen and (max-width: 600px) {
    .my_div {
      margin: 16px auto;
      padding: 16px;
    }
  }
  
  .combo-box {
    position: relative;
  }
  
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .combo-box input:focus + .options {
    display: block;
  }
  
  .options li {
    padding: 5px;
    cursor: pointer;
  }
  
  .options li:hover {
    background-color: #f2f2f2;
  }
  
  .error-messages {
      text-align: center;
  }
  
  .error-messages p {
      color: red;
      font-size: 16px;
      margin: 10px 0;
  }
  
  #submit-btn {
      margin-top: 20px;
  }
  
  #submit-btn ~ .error-messages {
      display: none;
  }
  
  #submit-btn:focus ~ .error-messages {
      display: block;
  }
  