body {
    margin: 0;
    padding: 0;
    background-color: yellowgreen;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: brown
}

.buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}




button {
    margin-top: 20px;
    margin-bottom: 20px;

}

button:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: purple;
    color: white;
    transform: scale(2.5);
    transition: transform 0.3s ease-in-out;

}


button {
    animation: pulse 8s infinite;
    color: black;
}

@keyframes pulse {
    0% {
        background-color: #007bff;
    }

    25% {
        background-color: #00ff62;
    }

    50% {
        background-color: #ff0059;
    }

    75% {
        background-color: #00ffae;
    }

    100% {
        background-color: #fbff00;
    }

}