.top_header{
  align-items: center;
  display: flex;
  margin-left: 500px;
  color: white;
  font-size: 40px;
  padding-right: 1px;
  border-radius: 2px;


}

.container{
  align-items: center;
  color: white;
  font-size: 20px;
  border-color: purple;
  border-radius: 20px;
  border-style: double;
}

body{
  background-color: darkred;
}