body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: beige;
  border-radius: 30px;
  padding: 40px 40px;
  font-size: 25px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 20px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  background-color: darkgreen;
}

