body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../static/images/classroom.png");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: black;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  text-shadow: 2px 2px #888888;
  color: #333;
  border: 10px;
  background-color: green;
  border-radius: 10px;
  padding: 20px;
  color: white;
  filter: brightness(1.2) saturate(1.5);
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
  top: 10;
  left: 0;
  right: 0;
  z-index: 9999;
}

h1:hover {
  box-shadow: 0px 0px 50px 30px rgba(255, 0, 0, 0.8);
  filter: brightness(1.4) saturate(1.8);
}

.image {
  margin-top: -20px;
  margin-bottom: 20px;
}

#description,
#opening_help {
  background-color: darkcyan;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  display: none;
  line-height: 1.5;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

#description p:first-child {
  margin-top: 0px;
}

#description p:last-child {
  margin-bottom: 0px;
}

#help-text {
  background-color: darkcyan;
  padding: 20px;
  font-size: 13px;
  font-weight: bold;
  display: none;
  line-height: 1.5;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}

#help-text,
#description {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 750px;
  margin: 0;
}

form:hover {
  background-color: darkred;
}

label {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  text-align: right;
  margin-right: 20px;
  min-width: 200px;
}

select {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #a31621;
  font-size: 20px;
  appearance: none;
  background-color: #fff;
  color: #555;
  font-family: inherit;
}

input[type="submit"] {
  background-color: #a31621;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  font-size: 20px;
  transition: background-color 0.3s;
  font-family: inherit;
  text-transform: uppercase;
  border-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: red;
  color: darkblue;
  transform: scale(1.35);
  border-color: #a31621;
}

form > * {
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  label {
    min-width: 100px;
  }
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #a31621;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: red;
  transform: scale(1.15);
  border-color: pink;
}

input[type="button"][value="Login"] {
  background-color: #a31621;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

label {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  display: block;
  text-align: left;
}

button {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  border-color: darkblue;
  background-color: lightblue;
  max-width: 750px;
  margin: 0;
}

label,
select {
  margin-bottom: 10px;
}

input[type="submit"] {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #a28f9d;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#description-button:hover,
#opening-screen-help-button:hover {
  background-color: #a31621;
  transform: scale(1.35);
  border-color: darkgreen;
}

input[type="button"]:hover {
  background-color: lightblue;
  color: darkblue;
  transform: scale(1.35);
  border-color: #a28f9d;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
}

#roles {
  display: flex;
  justify-content: center;
}

#roles label {
  margin: 0;
  padding: 0;
  position: relative;
}

#roles input[type="radio"] {
  display: none;
}

#roles img {
  display: block;

  margin: 0 10px;
  height: 80px;
  margin-left: 40px;
  margin-top: 40px;
  width: 80px;
  transition: all 0.3s ease-in-out;
}

#roles label:hover img {
  transform: translateY(-10px);
}

#roles input[type="radio"]:checked + img {
  transform: scale(1.2) translateY(-20%);
  border: 3px solid green;
  position: relative;
  z-index: 1;
}

.excel-wrapper {
  overflow-x: auto;
}

figure {
  display: block;
  margin: 0 auto;
  margin-left: 20px;
  text-align: center;
}

figcaption {
  font-style: center;
  font-size: 14px;
  margin-left: 50px;
  position: absolute;
  bottom: 5;
  left: 0;
  right: 0;
}

input[type="submit"] {
  border: 5px solid rgb(163, 22, 33);
  animation: rotate-border 5s linear infinite;
  font-size: 16px;
}

.buttons_box {
  align-items: flex-start;
}
