body {
  background-color: darkblue;
  background-image: url("../static/images/classroom.png");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: darkred;
  color: white;
  border-color: black;
  width: 275px;
  height: 125px;
  font-weight: bold;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
  border-radius: 35px;
}

.button_container {
  display: flex;
  justify-content: center;
}


h1 {
  border-radius: 4px;
  background-color: black;
  color: white;
  border-color: red;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

button:hover {
  background-color: black;
}

#image-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 10px;
  border: 2px solid black;
  padding: 10px;
}

#image-container img {
  width: 300px;
  height: 300px;
  margin: 10px;
  display: none;
}

#image-container img:nth-child(-n + 16) {
  display: block;
}

#pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#pagination a {
  background-color: black;
  display: inline-block;
  border: 2px solid black;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#pagination a:hover {
  background-color: darkred;
  color: white;
}

img:hover {
  cursor: pointer;
}


h2 {
  border-radius: 10px;
  /* background-color: rgb(81, 18, 18); */
  background-color: skyblue;
  color: black;
  border-color: red;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  max-width: fit-content;
  padding: 10px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
