body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("../static/images/classroom.png");
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  