* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: lightseagreen;
  margin: 20px;
  background-image: url("../static/images/classroom.png");
  background-size: cover;
}

h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #555;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

form:hover {
  background-color: lightblue;

}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  color: #444;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #4fc3f7;
}

input[type="email"]:hover,
input[type="password"]:hover {
  border-color: #aaa;
}

input[type="email"]:focus + label,
input[type="password"]:focus + label {
  color: #4fc3f7;
}

input[type="email"]:hover + label,
input[type="password"]:hover + label {
  color: #777;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #bbb;
}

input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="email"]::-ms-placeholder,
input[type="password"]::-ms-placeholder {
  color: #bbb;
}

input[type="submit"],
button {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 20px;
  width: 100%;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #2ecc71;
  color: whitesmoke;
}

input[type=password]:hover,input[type=email]:hover {
  background-color: #e74c3c;
}

button {
  background-color: #e74c3c;
  color: #fff;
  margin-bottom: 30px;
}

input[type="submit"]:hover {
  background-color: purple;
  transform: scale(1.05);
}

.error-message {
    color: #e74c3c;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
  }
  
.error-message:hover {
    transform: scale(1.05);
}
  