.teacher_class,
.student_class {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.dashboard-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.filterReservations {
  background-color: rgba(16, 16, 16, 0.79);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 30%;
  align-items: center;
}

.filterReservations button {
  background-color: darkred;
}

.filterReservations label {
  align-items: center;
  margin-right: 10px;
  padding: 0px;
}

.filterReservations form {
  align-items: center;
}

.filterReservations input:hover {
  background-color: blanchedalmond;
}

* {
  align-items: center;
  color: white;
}

body {
  background-color: darkred;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("../static/images/classroom.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 30px 0 50px;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
  background-color: darkred;
  padding: 10px;
  border-radius: 5px;
}

.content {
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  background-color: rgba(16, 16, 16, 0.79);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}


.box {
  margin: 0 10% 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

form button {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: darkblue;
  align-items: center;
}

form button:hover {
    background-color: darkgreen;
}

.reservation_edit {
  align-items: center;
}

.filterReservations {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



