body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 238);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    background-image: url("../static/images/class_room.jpeg");
    display: flex;
    flex-direction: column;
    background-size: cover;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    text-shadow: 2px 2px #888888;
    color: #333;
    background-color: blue;
    border: 10px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    filter: brightness(1.2) saturate(1.5);
    top: 10;
    left: 0;
    right: 0;
    z-index: 9999;
}

h1:hover {
    box-shadow: 0px 0px 50px 30px rgba(255, 0, 0, 0.8);
    filter: brightness(1.4) saturate(1.8);
}

#description,
#opening_help,
#help-text,
#student-signup-help-text {
    background-color: rgb(55, 134, 202);
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
    display: none;
    line-height: 1.5;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
}

#description p:first-child {
    margin-top: 0px;
}

#description p:last-child {
    margin-bottom: 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 750px;
    margin: 0;
}

label {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    min-width: 200px;
}

select {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #45a049;
    font-size: 20px;
    appearance: none;
    background-color: #fff;
    color: #555;
    font-family: inherit;
}

input[type="submit"]:active,
input[type="submit"],
input[type="button"][value="Login"] {
    background-color: #4574a0;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    font-family: inherit;
}

input[type="submit"]:hover,
input[type="button"][value="Login"]:hover,
input:hover {
    background-color: #eb0000;
    border-color: black;
}



input[type="submit"]:hover {
    background-color: #eb0000;
    border-color: black;
    align-items: center;
}

input:hover {
    background-color: #eb0000;
    border-color: black;
    align-items: center;
}

form>* {
    width: 100%;
    max-width: 400px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 36px;
    }

    label {
        min-width: 100px;
    }
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: red;
    transform: scale(1.05);
    border-color: black;
}

input[type="button"][value="Login"] {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="button"][value="Signup"] {
    background-color: #45a049;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="button"][value="Go Back"] {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

label {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #45a049;
    font-size: 20px;
    appearance: none;
    background-color: #fff;
    color: #555;
    font-family: inherit;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border-bottom: 2px solid #4caf50;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 750px;
    background-color: aquamarine;
    margin: 0;
}

label,
select {
    margin-bottom: 10px;
}

input[type="submit"] {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: blue;
    cursor: pointer;
}

#description-button:hover,
#opening-screen-help-button:hover {
    background-color: #a600ff;
    border-color: blue;
    border-color: black;
    transform: scale(1.05);
}

input[type="button"]:hover {
    background-color: red;
    border-color: black;
    transform: scale(1.05);
}

#error-message {
    color: #e74c3c;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
}

#error-message:hover {
    transform: scale(1.01);
}

.error-message {
    color: #e74c3c;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
}

.error-message:hover {
    transform: scale(1.05);
}

#teacher-signup-button:hover {
    background-color: red;
    border-color: black;
    transform: scale(1.05);
}

#teacher-signup-guide:hover {
    background-color: red;
    border-color: rgb(0, 0, 0);
    transform: scale(1.05);
}

input[type="submit"]:hover {
    background-color: red;
    border-color: black;
    transform: scale(1.05);
}

#roles {
    display: flex;
    justify-content: center;
}

#roles label {
    margin: 0;
    padding: 0;
    position: relative;
}

#roles input[type="radio"] {
    display: none;
}

#roles img {
    display: block;

    margin: 0 10px;
    height: 80px;
    margin-left: 40px;
    margin-top: 40px;
    width: 80px;
}

#roles label:hover img {
    transform: translateY(-10px);
}

#roles input[type="radio"]:checked+img {
    transform: scale(1.2) translateY(-20%);
    border: 3px solid green;
}

.excel-wrapper {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 110%;
}

td,
th {
    border: 1px solid black;
    padding: 5px;
    font-size: 11px;
    min-width: 50px;
    min-height: 20px;
}

table colgroup col {
    width: auto;
}

figure {
    display: block;
    margin: 0 auto;
    margin-left: 20px;
    text-align: center;
}

figcaption {
    font-style: center;
    font-size: 14px;
    margin-left: 50px;
    position: absolute;
    bottom: 5;
    left: 0;
    right: 0;
}

input[type="submit"] {
    border: 5px solid rgb(12, 178, 0);
    font-size: 16px;
}

.search_filtering {
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
}

.search_filtering:hover {
    background-color: lightblue;
    border-color: black;
    border: 2px solid black;
}

.search_filtering:hover input[type="text"] {
    display: block;
}

.search_filtering input[type="text"] {
    display: none;
    border: 2px solid black;
    width: 100%;
    margin-top: 4px;
    padding: 8px 16px;
}

.buttons_box {
    border: 3px solid red;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.buttons_box input[type="text"] {
    margin: 5px;
    padding: 5px;
    flex: 1;
}

.buttons_box input[type="submit"] {
    margin: 5px;
    padding: 5px 20px;
}

@media (min-width: 768px) {
    .buttons_box input[type="text"] {
        max-width: calc(50% - 10px);
    }
}

.box {
    border: 2px solid #000;
    padding: 5px;
    background-color: azure;
    float: right;
}

.red-label {
    padding: 4px;
    background-color: #eb0000;
    color: white;
}

.green-label {
    padding: 4px;
    background-color: #45a049;
    color: white;
}

form .box {
    border: 1px solid #000;
    padding: 3px;
    background-color: rgb(255, 172, 220);
    float: right;
}

form label {
    margin: 0.5px;
}

#lowercase-label {
    font-size: 14px;
}

#uppercase-label {
    font-size: 14px;
}

#letter-label {
    font-size: 14px;
}

#length-label {
    font-size: 14px;
}