body {
    background-color: aquamarine;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    font-weight: bold;
    color: darkcyan;
    text-align: center;
    text-transform: capitalize;
}



.reservations {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}



.reservations th {
    background-color: #791e1e;
    font-weight: bold;
}


table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table thead th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 8px;
}

table tbody td {
    border: 1px solid black;
    padding: 8px;
    font-weight: bold;
    color: darkblue;
}


button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}


td:nth-child(6) {
    font-weight: bold;
    color: darkblue;
}


tbody tr:hover {
    background-color: green;
}


tbody tr.selected {
    background-color: lightgoldenrodyellow;
}
