table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.reservations {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.reservations th,
.reservations td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.reservations th {
    background-color: #f2f2f2;
    font-weight: bold;
}