body {
  margin: 0;
  padding: 0;
  background-color: yellowgreen;
  background-image: url("../static/images/classroom.png");
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification {
  margin-right: 10px;
}

.group1,
.group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.group1 {
  flex-direction: column;
}

.group2 {
  flex-direction: row;
}

.group2 .buttons {
  margin-right: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: black;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.notification .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("/static/images/notification.png");
  background-size: cover;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;

  color: brown;
  border: 10px;
  width: auto;
  align-items: center;
}

.buttons {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons.form.button.hover {
  background-color: red;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button:hover {
  background-color: red;
  color: white;
}

button {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.clicked {
  transform: scale(1.05);
  background-color: red;
}

.button.hover {
  transform: scale(1.05);
  background-color: red;
  color: red;
}

.form.clicked {
  transform: scale(1.05);
  background-color: red;
}

.form.hover {
  transform: scale(1.05);
  background-color: red;
}

.buttons button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons button:hover {
  background-color: red;
  color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

button {
  color: black;
}

.news {
  border-radius: 10px;
  border-color: #ff0059;
  box-shadow: #00ff62;
}

@keyframes lights_turn_off {
  0% {
    background-color: #000000;
  }

  20% {
    background-color: #fbff00;
  }

  100% {
    background-color: #000000;
  }
}

.star {
  animation: star_shifts 15s;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: scale(0.2);
}

@keyframes star_shifts {
  0% {
    top: -200px;
    left: -200px;
  }

  39% {
    top: 1000px;
    left: 3000px;
  }

  50% {
    top: 2000px;
    left: 4000px;
  }

  50% {
    left: -4000px;
  }

  60% {
    top: 4000px;
  }

  60% {
    top: -200px;
    left: -200px;
  }
}

.star:nth-child(1) {
  animation-delay: 0.5s;
}

.star:nth-child(2) {
  animation-delay: 1s;
}

.star:nth-child(3) {
  animation-delay: 1.4s;
}

.star:nth-child(4) {
  animation-delay: 1.8s;
}

.star:nth-child(5) {
  animation-delay: 2.3s;
}

.star:nth-child(6) {
  animation-delay: 2.6s;
}

.star:nth-child(7) {
  animation-delay: 3s;
}

.star:nth-child(8) {
  animation-delay: 3.3s;
}

.star:nth-child(9) {
  animation-delay: 4.5s;
}

.star:nth-child(10) {
  animation-delay: 5s;
}

.star:nth-child(11) {
  animation-delay: 5.2s;
}

.star:nth-child(12) {
  animation-delay: 5.4s;
}

.star:nth-child(13) {
  animation-delay: 5.6s;
}

.star:nth-child(14) {
  animation-delay: 5.8s;
}

.star:nth-child(15) {
  animation-delay: 6s;
}

#hover_effect {
  transition: transform 5s;
}

#hover_effect:hover {
  transform: scale(1.1);
}

.buttons button {
  transition: transform 3s;
}

.buttons button:hover {
  transform: scale(1.1);
}
