body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: rgb(17, 196, 17);
    background-image: url("../static/images/classroom.png");
    background-size: cover;
}

h1 {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
}

button {
    height: 100px;
    width: 500px;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 2.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #0062cc;
}