img {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(172, 172, 231);
}


.segment1 {
    background-color: red;
}

.segment2 {
    background-color: blue;
}

#image-container {
    position: relative;
    display: inline-block;
  }
  
  .segment {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
