<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/see_all_users.css">
    <title>Document</title>
</head>

<button id="theme-button" class="theme-button" onclick="changeTheme()">Change Theme</button>

<h1>All The Users</h1>

<button id="theme-button" class="theme-button" onclick="changeTheme()">Change Theme</button>

<h1>Usernames:</h1>
<ul>
    {% for username in usernames %}
    <form method="GET" action="/editUser">

        <li>{{ username }} <button type="submit">Edit User</button></li>
        <button>Edit User</button>
    </form>
    </form>
    {% endfor %}
</ul>
</body>
</body>

</html>