<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/admin_signup_guide.css"
    />
    <title>KuClass Admin Signup Screen Guide</title>
  </head>

  <body>
    <h1>KuClass Admin Signup Screen Guide</h1>
    <p id="admin-signup-help-text">
      Please enter your username, password, and email in the corresponding
      textboxes of the admin signup screen. Please do not leave any of these
      fields empty. You cannot signup to the system unless your email is from 
      the KU Domain. The password you will type should include at least 8
      characters. Among these characters, at least; 1 special character, 1
      lowercase character, 1 digit, and 1 uppercase character should appear. Once
      you have entered all fields, you can press the Submit button and then
      proceed to the Admin Dashboard Screen.
    </p>
    <form action="/admin/signup">
      <button id="goToAdminSignupScreen">Go to Admin Signup Screen</button>
    </form>
  </body>
</html>
