<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/chat_with_history.css">
    <title>Already-Reserved Classrooms</title>
</head>

<body>
    <h1> Chat for : {{class_data }} </h1>
    <div id="chat-history">
        {% for row in rows %}
        <p>{{ row[2] }} {{ row[1] }}
            {{user_name}}
            Message :{{row[0]}}

        </p>
        </p>

        {% endfor %}
    </div>

    <ul id="messages"></ul>
    <div>
        <form action="/send_chat_message_student" method="get">
            <input type="text" name="message" id="message">
            <button type="submit">Send message.</button>
        </form>
        <form action="/report_message_student"><button>Report message.</button></form>
    </div>
</body>

</html>