<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/chat_with_history.css">
    <title>Already-Reserved Classrooms</title>
</head>

<body>
    <h1> Chat for : {{classsroom_no}} </h1>
    <div>
        {% for message in messages %}
        <h3>--------------- Reservation --------------------</h3>
        <ul>
            <li>Sender: {{ message[0] }}</li>
            <li>Message: {{ message[1] }}</li>
            <li>Time: {{ message[2] }}</li>
            <li>Username: {{ message[3] }}</li>

            {% endfor %}
    </div>
    <input id="message" type="text">
    <button id="send">Send</button>
    <ul id="messages"></ul>
    <div>
        <form action="/send_chat_message_student"><button>Send message.</button></form>
        <form action="/report_message_student"><button>Report message.</button></form>
    </div>
</body>

</html>