<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/chat_with_history.css">
    <title>Already-Reserved Classrooms</title>
</head>

<body>
    <h1> Chat for: {{ class_room_no }} </h1>
    <div class="chat-history">
        {% for row in rows %}
        {% if row[3] and row[4]%}
        <p class="p1">{{row[3]}}: {{row[4]}}</p>
        <br>
        {% endif %}
        {% endfor %}
    </div>

    <ul id="messages"></ul>
    <div>
        <form action="/send_chat_message_student" method="get">
            <input type="hidden" name="class_no" value="{{ class_room_no }}" />
            <input type="text" name="message" id="message">
            <button type="submit">Send message.</button>
        </form>
        <!-- <form action="/report_message_student"><button>Report message.</button></form> -->
        <!--<form action="/clearMessages"> <button>Clear Messages (Warning, cannot be undone.)</button></form> -->
    </div>
</body>
<script>

    window.addEventListener('DOMContentLoaded', function() {
      var element = document.getElementByClass('chat-history');
      element.scrollTop = element.scrollHeight;
    });
  </script>
</html>