<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Information Screen</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/classroom_infos.css"
    />
  </head>
  <body>
    <div class="buttons_box">
    <form action="/classrooms" method="GET">
        <label>Classroom code:</label>&nbsp;<input
          type="text"
          name="code"
        />&nbsp;<input type="checkbox" name="checkbox_code" value="code"/>
        <br />
        <br />
        <label>Department name:</label>&nbsp;
        <select id="department" name="department">
          {% for department in departments %}
          <option value="{{department}}">{{department}}</option>
          {% endfor %}</select
        >&nbsp;<input type="checkbox" name="checkbox_department" value="department"/>
        <br />
        <br />
        <label>Room type:</label>&nbsp;<input
          type="text"
          name="room_type"
        />&nbsp;<input type="checkbox" name="checkbox_room_type" value="room_type"/>
        <br />
        <br />
        <label>Seats:</label>&nbsp;
        <select id="big_small_eq" name="operation_seats">
          <option value=">">&gt;</option>
          <option value="&lt;">&lt;</option>
          <option value="=">=</option></select
        >&nbsp;<input type="text" name="seats" />&nbsp;<input
          type="checkbox"
          name="checkbox_seats"
          value="seats"
        />
        <br />
        <br />
        <label>Classroom Area:</label>&nbsp;<select
          id="big_small_eq"
          name="operation_area"
        >
          <option value="&gt;">&gt;</option>
          <option value="&lt;">&lt;</option>
          <option value="=">=</option></select
        >&nbsp;<input type="text" name="area" />&nbsp;<input
          type="checkbox"
          name="checkbox_area"
          value="area"
        />
        <br />
        <br />
        <label>Board Number:</label>&nbsp;<select
          id="big_small_eq"
          name="operation_board_number"
        >
          <option value="&gt;">&gt;</option>
          <option value="&lt;">&lt;</option>
          <option value="=">=</option></select
        >&nbsp;<input type="text" name="board_number" />&nbsp;<input
          type="checkbox"
          name="checkbox_board_number"
          value="board_number"
        />
        <br />
        <br />
        <label>Connections:</label>&nbsp;<input
          type="text"
          name="connections"
        />&nbsp;<input type="checkbox" name="checkbox_connections" value="connections"/>
        <br />
        <br />
        <label>Panopto Capture:</label>&nbsp;<input
          type="text"
          name="panopto_capture"
        />&nbsp;<input type="checkbox" name="checkbox_panopto_capture" value="panopto_capture"/>
        <br />
        <br />
        <label>Outlets for Students:</label>&nbsp;
        <select id="outlets_for_students" name="outlets_for_students">
          <option value="available">Available</option>
          <option value="not_available">Not Available</option></select
        >&nbsp;<input type="checkbox" name="checkbox_outlets_for_students" value="outlets_for_students"/>
        <br />
        <br />
        <label>Projector Number:</label>&nbsp;<input
          type="text"
          name="projector_number"
        />&nbsp;<input type="checkbox" name="checkbox_projector_number" value="projector_number"/>
        <br />
        <br />
        <button>Show classes</button>
        <button type="reset">Remove filters</button>
        <br><br>
      </form>

    </div>
    <table>
      <thead>
        <tr>
          <th>Classroom Code</th>
          <th>Department</th>
          <th>Room Type</th>
          <th>Seats</th>
          <th>Area (m^2)</th>
          <th>Board Number</th>
          <th>Board Type</th>
          <th>Board Size</th>
          <th>Connections</th>
          <th>Projector Size</th>
          <th>Panopto Capture</th>
          <th>Touch Screen</th>
          <th>Document Camera</th>
          <th>Outlets for Students</th>
          <th>Projector Number</th>
        </tr>
      </thead>
      <tbody>
        {% for row in classrooms %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
          <td>{{ row[8] }}</td>
          <td>{{ row[9] }}</td>
          <td>{{ row[10] }}</td>
          <td>{{ row[11] }}</td>
          <td>{{ row[12] }}</td>
          <td>{{ row[13] }}</td>
          <td>{{ row[14] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
