<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/reservation_single_class.css">
    <title>Already-Reserved Classrooms</title>
</head>
<body>
    <div class="box">
        <div class="content">
            <h2>These slots are taken.</h2>
            {% for row in rows %}
            <h3>--------------- Reservation --------------------</h3>
            <ul>
                <li>Role: {{ row[0] }}</li>
                <li>Date: {{ row[1] }}</li>
                <li>Time: {{ row[2] }}</li>
                <li>Username: {{ row[3] }}</li>
                <li>Public or Private: {{ row[4] }}</li>
                <li>Classroom: {{ row[5] }}</li>
                <li>Priority Reserved: {{ row[6] }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
</body>
<form action="/student_dashboard">
    <button>Go To Student Dashboard</button>
</form>
</html>