<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Screens</title>
    <link rel="stylesheet" type="text/css" href="../static/customize_screen.css">
</head>

<h2>Customize Student Dashboard</h2>
<h4>Adjust Screen Brightness</h4>
<div id="brightnessControl">
    <input type="range" min="0" max="100" value="100" id="brightnessSlider">
</div>
<h4>Select Background Color</h4>
<select id="bgColorSelector">
    <option value="white">White</option>
    <option value="lightgray">Light Gray</option>
    <option value="beige">Beige</option>
    <option value="lightblue">Light Blue</option>
</select>
<br>
<br>
<button onclick="applyBgColor()">Apply Background Color</button>

<h4>Toggle Music</h4>
<button onclick="playMusic()">Play Music</button>
<button onclick="pauseMusic()">Pause Music</button>
<button onclick="stopMusic()">Stop Music</button>

<h4>Toggle Dark Mode</h4>
<label class="switch">
    <input type="checkbox" id="darkModeToggle">
    <span class="slider round"></span>
</label>

</body>
<script>
    var brightnessSlider = document.getElementById("brightnessSlider");
    var bodyElement = document.getElementsByTagName("body")[0];
    var myHeading = document.getElementsByTagName("h2")[0];
    var myHeading2 = document.getElementsByTagName('h4')[0];
    var myHeading3 = document.getElementsByTagName('h4')[1];
    var myHeading4 = document.getElementsByTagName('h4')[2];
    var myHeading5 = document.getElementsByTagName('h4')[3];


    brightnessSlider.addEventListener("input", function () {
        var brightnessValue = this.value;
        var cssRule = "background-color: hsl(0, 0%, " + brightnessValue + "%);";
        bodyElement.style.cssText += cssRule;
        if (brightnessValue >= 50) {
            bodyElement.style.color = "black";
            myHeading.style.color = 'black';
            myHeading2.style.color = 'black';
            myHeading3.style.color = 'black';
            myHeading4.style.color = 'black';
            myHeading5.style.color = 'black';
        } else {
            bodyElement.style.color = "white";
            myHeading.style.color = 'white';
            myHeading2.style.color = 'white';
            myHeading3.style.color = 'white';
            myHeading4.style.color = 'white';
            myHeading5.style.color = 'white';
        }


    });

    var bgColorSelector = document.getElementById("bgColorSelector");
    var applyBgColorButton = document.querySelector("button");

    applyBgColorButton.addEventListener("click", function () {
        var bgColor = bgColorSelector.value;
        bodyElement.style.backgroundColor = bgColor;
    });

    bgColorSelector.addEventListener("change", function () {
        var bgColor = bgColorSelector.value;
        bodyElement.style.backgroundColor = bgColor;
    });

    function applyBgColor() {
        var bgColor = bgColorSelector.value;
        bodyElement.style.backgroundColor = bgColor;
    }


    var audioElement = document.createElement("audio");
    audioElement.src = "../static/c.mp3";
    audioElement.loop = true;

    function playMusic() {
        audioElement.play(); // play the audio music
    }

    function stopMusic() {
        audioElement.currentTime = 0;  // Reset the audio to the beginning
        audioElement.pause();          // Pause the audio music
    }

    function pauseMusic() {
        audioElement.pause(); // pausing the audio music
    }


    var darkModeToggle = document.getElementById("darkModeToggle");
    var bodyElement = document.getElementsByTagName("body")[0];

    darkModeToggle.addEventListener("change", function () {
        if (this.checked) {
            bodyElement.style.backgroundColor = "#333";
            bodyElement.style.color = "white";
        } else {
            bodyElement.style.backgroundColor = "white";
            bodyElement.style.color = "#333";
        }
    });




</script>

</html>