<!DOCTYPE html>
<html>

<head>
    <title>Description Text of KuClass Web App</title>
    <link rel="stylesheet" type="text/css" href="../static/description.css">
    <script src="../static/description.js"></script>
</head>

<body>
    <h1>KuClass Web App Description</h1>
    <p id="description">
        In the exam weeks, students have difficulty in Koç University to find a private place in school for studying.
        Our project is a web app that aims to help students to find vacant classrooms, reserve them, and communicate
        with each other about studying in them. Therefore, the empty classrooms will be used more efficiently.
        Buildings,
        classrooms, and their class schedules will be available through the app. This will enable the students to make
        reservations for vacant time slots to study. They can announce what class they are studying in and choose if
        they
        allow other students to enter or not. This may enable students to get together for studying on the same
        class/topic.
        Moreover; our project will be able to find the classes which have broken items/materials (ex: chair, desk,
        projector)
        in them, and will enable the necessary help for those classes to be obtained. As a result, the students can know
        which classes have some broken materials/items, and update their classroom preferences accordingly. Moreover,
        the
        students can update their classroom preferences also according to the number of currently studying students in
        the
        classrooms. This will help with finding suitable classrooms for students to study in.
    </p>
    <form action="/openFeatures">
        <button id="goToOpeningScreen">See features of the roles</button>
    </form>
    <form action="/goToOpeningScreen">
        <button id="goToOpeningScreen">Go to Opening Screen</button>
    </form>

</body>

</html>