<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/editYourReservations.css">
    <title>Editing your Resservation</title>
</head>

<h1>Your Reservation INFO</h1>
<h3>--------------- Reservation --------------------</h3>
<ul>
    <li>Role: {{ row[0] }}</li>
    <li>Date: {{ row[1] }}</li>
    <li>Time: {{ row[2] }}</li>
    <li>Username: {{ row[3] }}</li>
    <li>Option: {{ row[4] }}</li>
    <li>Classroom: {{ row[5] }}</li>
    <li>Priority Reserved: {{ row[6] }}</li>
</ul>
<form action="/deleteReservation" method="POST">
    <input type="hidden" name="role" value="{{ row[0] }}">
    <input type="hidden" name="date" value="{{ row[1] }}">
    <input type="hidden" name="time" value="{{ row[2] }}">
    <input type="hidden" name="username" value="{{ row[3] }}">
    <input type="hidden" name="public_or_private" value="{{ row[4] }}">
    <input type="hidden" name="classroom" value="{{ row[5] }}">
    <input type="hidden" name="priority_reserved" value="{{ row[6] }}">
    <button type="submit">Click here to delete your reservation</button>
</form>
</body>

</html>