<!DOCTYPE html>
<html>

<head>
  <title>Exam Schedules</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>

  {% if 'role' in session %} {% if session['role'] == 'teacher' %}
  <form action="teacher/dashboard">
    <button>Go To Teacher Dashboard</button>
  </form>
  {% elif session['role'] == 'it_staff' %}
  <form action="it_staff/dashboard">
    <button>Go To IT Staff Dashboard</button>
  </form>
  {% elif session['role'] == 'student' %}
  <form action="student/dashboard">
    <button>Go To Student Dashboard</button>
  </form>
  {% endif %} {% endif %}

  {% if fromMyClassesOnly %}
  <h1>Classroom Result</h1>
  {% else %}
  <h1>Exam Schedules</h1>
  {% endif %}



  {% if fromMyClassesOnly %}

  {% else %}
  <div class="buttons_box">
    <form action="/myExamsOnly"><input type="text" name="class_name" value="Enter class name">
      <br> <input type="text" name="class_code" value="Enter class code"><button>Show only my exams</button>
    </form>
    <form action="/allExams"><button>Show all exams</button></form>
  </div>

  {% endif %}




  <div class="excel-wrapper">
    <table>
      <thead>
        <tr>
          {% for field in header_fields %}
          <th>{{ field }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {{ html_table|safe }}
      </tbody>
    </table>
  </div>
</body>

</html>