<!DOCTYPE html>
<html>
  <head>
    <title>Exam Schedules</title>
    <link rel="stylesheet" href="../static/exam_schedules.css" />
  </head>

  <body>
    {% if 'role' in session %} 
    {% if session['role'] == 'teacher' %}
    <form action="/teacher/dashboard">
      <button>Go To Teacher Dashboard</button>
    </form>
    {% elif session['role'] == 'it_staff' %}
    <form action="/it_staff/dashboard">
      <button>Go To IT Staff Dashboard</button>
    </form>
    {% elif session['role'] == 'student' %}
    <form action="redirect_student_dashboard">
      <button>Go To Student Dashboard</button>
    </form>
    {% endif %} 
    {% endif %}
    <h1>Exam Schedules</h1>
    <div class="buttons_box">
      <form action="/myExamsOnly">
        <div class="filtering-container">
          <input type="text" name="class_name" value="Enter class name" />
          <input type="text" name="class_code" value="Enter class code" />
          <div>
            <input
              type="text"
              name="subject"
              class="search_filtering"
              placeholder="Subject"
            />
            <input
              type="text"
              name="catalog"
              class="search_filtering"
              placeholder="Catalog"
            />
          </div>
          <div>
            <input
              type="text"
              name="description"
              class="search_filtering"
              placeholder="Description"
            />
            <input
              type="text"
              name="section"
              class="search_filtering"
              placeholder="Section"
            />
          </div>
          <div>
            <input
              type="text"
              name="courseid"
              class="search_filtering"
              placeholder="Course ID"
            />
            <input
              type="text"
              name="examdate"
              class="search_filtering"
              placeholder="Exam Date"
            />
          </div>
          <div>
            <input
              type="text"
              name="starttime"
              class="search_filtering"
              placeholder="Start Time"
            />
            <input
              type="text"
              name="endtime"
              class="search_filtering"
              placeholder="End Time"
            />
          </div>
          <div>
            <input
              type="text"
              name="facilid"
              class="search_filtering"
              placeholder="Facil ID"
            />
            <input
              type="text"
              name="examtype"
              class="search_filtering"
              placeholder="Exam Type"
            />
          </div>
          <div>
            <input
              type="text"
              name="instructorname"
              class="search_filtering"
              placeholder="Instructor Name"
            />
            <input
              type="text"
              name="totalenr"
              class="search_filtering"
              placeholder="Total Enrl"
            />
          </div>
          <input
            type="text"
            name="acadorg"
            class="search_filtering"
            placeholder="Acad Org"
          />
          <button>Show only my exams</button>
        </div>
      </form>
      <form action="/allExams">
        <button>Show all exams</button>
      </form>
    </div>
    <div class="excel-wrapper">
      <table>
        <thead>
          <tr>
            {% for field in header_fields %}
            <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {{ html_table|safe }}
        </tbody>
      </table>
    </div>
  </body>
</html>
