<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/features.css">
    <title>Features of Different Roles</title>
</head>

<body>
    <div class="features_list">
        <button id="description-button" onclick="location.href='/open_description_text';">
            See KuClass Description Text
        </button>
        <p>
        <h1> Roles</h1>
        <br>
        <p class="role">- Student</p>
        <ul>
            <li>Reserve a classroom</li>
            <li>View inside classrooms</li>
            <li>See reserved classes</li>
            <li>Filter and search classrooms</li>
            <li>Report to IT</li>
            <li>Show classroom information</li>
            <li>View exam schedule</li>
            <li>View course schedules</li>
            <li>Chat for each classroom</li>
            <li>Read news</li>
            <li>Attending club events</li>
            <li>Open map</li>
        </ul>
        <p class="role">- Teacher</p>
        <ul>
            <li>Reserve a classroom</li>
            <li>View inside classrooms</li>
            <li>See reserved classes</li>
            <li>Filter and search classrooms</li>
            <li>Report to IT</li>
            <li>Create announcements</li>
            <li>Show classroom information</li>
            <li>View exam schedule</li>
            <li>View course schedules</li>
            <li>Chat for each classroom</li>
        </ul>
        <p class="role">- Admin</p>
        <ul>
            <li>See, edit, or delete users</li>
            <li>See, edit, or delete reservations</li>
            <li>See, edit, or delete IT reports</li>
            <li>See user statistics</li>
            <li>See reservation statistics</li>
            <li>See statistics of IT reports</li>
            <li>Create news</li>
            <li>View inside of classrooms</li>
            <li>View exam schedules</li>
            <li>View course schedules</li>
        </ul>
        <p class="role">- IT STAFF</p>
        <ul>
            <li>Open IT problems</li>
            <li>Filter and search classrooms</li>
            <li>View inside of classrooms</li>
            <li>Show classroom information</li>
        </ul>
        </p>

    </div>
</body>

</html>