<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Incoming News</title>
    <link rel="stylesheet" type="text/css" href="../static/incoming_news.css" />
  </head>
  <body>
    <div class="top">
      <h2 class="news_h2">Incoming News</h2>
    </div>
    <form class="dashboard" action="/redirect_student_dashboard">
      <button>Go to Student Dashboard</button>
    </form>
    <div class="news">
      {% if news_data is defined and news_data %}
      <table class="news_table">
        <thead>
          <tr>
            <th>Time Interval</th>
            <th>Date Interval</th>
            <th>Sender</th>
            <th>Title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for news_item in news_data %}
          <tr>
            <td>{{ news_item[1] }} - {{ news_item[3] }}</td>
            <td>{{ news_item[2] }} - {{ news_item[4] }}</td>
            <td>{{ news_item[5] }} ({{ news_item[6] }})</td>
            <td>{{ news_item[0] }}</td>
            <td>
              <form action="/openEventAttendanceScreen" method="POST">
                <input type="hidden" name="title" value="{{ news_item[0] }}" />
                <input type="hidden" name="start_time" value="{{ news_item[1] }}" />
                <input type="hidden" name="start_date" value="{{ news_item[2] }}" />
                <input type="hidden" name="end_time" value="{{ news_item[3] }}" />
                <input type="hidden" name="end_date" value="{{ news_item[4] }}" />
                <input type="hidden" name="sender" value="{{ news_item[5] }}" />
                <input type="hidden" name="role" value="{{ news_item[6] }}" />
                <button class="eventAttendance">></button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>There are no current news</p>
      {% endif %}
    </div>
  </body>
</html>
