<!DOCTYPE html>
<html>
  <head>
    <title>Plots, Visuals, and Statistics of IT Reports</title>
    <link rel="stylesheet" type="text/css" href="../static/it_report_statistics_for_admin.css"/>
  </head>
  <body>
    <div class="card">
      <p class="intro">Plots, Visuals, and Statistics of IT Reports</p>
      <div class="group-container">
        <div class="btn-group">
          <h1>Plot Histogram of IT Report Number by Classroom Name</h1>
          <button onclick="location.href='/see_histogram_of_it_report_num_by_classroom_name';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot Histogram of IT Report Number by Faculty Name</h1>
          <button onclick="location.href='/see_histogram_of_it_report_num_by_faculty_name';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot Histogram of IT Report Number per Problem Description</h1>
          <button onclick="location.href='/see_barchart_of_it_report_num_per_problem_description';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot PieChart of IT Report Number by Classroom Name</h1>
          <button onclick="location.href='/see_piechart_of_it_report_num_by_classroom_name';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot Pie Chart of IT Report Number per Faculty</h1>
          <button onclick="location.href='/see_piechart_of_it_report_num_by_faculty_name';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot PieChart of IT Report Number per Problem Description</h1>
          <button onclick="location.href='/see_piechart_of_it_report_num_per_problem_description';">Plot Data</button>
        </div>
      </div>
    </div>
  </body>
</html>
