<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Staff Class Reservation Page</title>
    <link rel="stylesheet" type="text/css" href="../static/student_reservation.css">
    <script type="text/javascript" src="../static/student_reservation_screen.js"></script>
</head>
<body>
<h2>IT Staff Class Reservation Screen</h2>
<div class="card" id="reservationForm">

    <form action="/reserve_class" method="POST" style="text-align:center;">

        {% if 'class_code' in request.args %}
        <label for="">Class Code:</label><input type="text" name="class-code"
            value="{{ request.args['class_code'] }}" readonly>
        {% elif 'value' in request.args %}
        <label for="">Class Code:</label>&nbsp;<input type="text" name="class-code"
            value="{{request.args['value']}}" readonly>
        {% else %}
        <label for="">Select your class from dropdown class list</label><div class="combo-box">
            <select id="class-selector" name="class-code">
                {% for option in options %}
                <option value="{{ option }}">{{option }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <br>
        <br>
        <label>Please specify the starting time: </label>&nbsp;<input required type="time" name="start-time"
            id="start-time">
        <label>Please specify the ending time: </label>&nbsp;<input required type="time" name="end-time" id="end-time">
        <label>Please specify the date: </label>&nbsp;<input required type="date" name="date" id="date">
        <br>
        <label for="">Specify your reservation purpose:</label>
        <label>
            <input type="radio" name="option" value="maintenance" checked>
            I want to reserve for class maintenance.
        </label>
        <label>
            <input type="radio" name="option" value="repair">
            I want to reserve for class repairing.
        </label>
        <br>
        <button type="submit" id="submit-btn">Click to Submit Reservation</button>
    </form>

{% if 'role' in session %}
{% if session['role'] == 'teacher' %}
<form action="teacher/dashboard">
    <div class="button-container">
        <button id="goToTeacherDashboardButton">Go To Teacher Dashboard</button>
    </div>
</form>
{% elif session['role'] == 'it_staff' %}
<form action="it_staff/dashboard">
    <div class="button-container">
        <button id="goToItStaffDashboardButton">Go To IT Staff Dashboard</button>
    </div>
</form>
{% elif session['role'] == 'student' %}
<form action="redirect_student_dashboard">
    <div class="button-container">
        <button id="goToStudentDashboardButton">Go To Student Dashboard</button>
    </div>
</form>
{% endif %}
{% endif %}


    <div class="error-messages">
        {% if error_msg %}
        <p>{{ error_msg }}</p>
        {% endif %}
</div>
</div>


</body>

</html>