<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Staff Reservation Screen</title>
    <link rel="stylesheet" href="../static/it_staff_reservation_screen.css">
    <script type="text/javascript" src="../static/it_staff_reservation_screen.js"></script>
</head>

<button id="theme-button" class="theme-button" onclick="changeTheme()">Change Theme</button>

<div class="my_div" id="reservationForm">
    <form action="/reserve_class" method="POST">
        <h2>It Staff Class Reservation Screen</h2>
        <label for="">Class Code:</label>
        <input type="text" name="class-code" value="{{ class_code }}" readonly>
       {% else %}
        <label for="">Select your class from dropdown class list</label>
        <div class="combo-box">
            <select id="class-selector" name="class-code">
                {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}    
        <br>
        <br>
        <label class="other-label" for="Please specify time">Please specify date and time</label>
        <input required type="time" name="time" id="time">
        <input required type="date" name="date" id="date">
        <br>
        <label class="other-label" for="">Please specify your purpose of reservation.</label>
        <label class="option-label">
            <input required type="radio" name="option" value="maintenance">
            I want to reserve for class maintenance.
        <label class="option-label">
            <input required type="radio" name="option" value="repair">
            I want to reserve for class repairing.
        </label>
        <button type="submit" id="submit-btn">Click to submit reservation</button>
    </form>
</div>
</body>


{% if 'role' in session %}
{% if session['role'] == 'teacher' %}
<form action="teacher/dashboard">
    <button>Go To Teacher Dashboard</button>
</form>
{% elif session['role'] == 'it_staff' %}
<form action="it_staff/dashboard">
    <button>Go To IT Staff Dashboard</button>
</form>
{% elif session['role'] == 'student' %}
<form action="student/dashboard">
    <button>Go To Student Dashboard</button>
</form>
{% endif %}
{% endif %}


<div class="error-messages">
    {% if reservation_already_happened %}
    <p>{{ reservation_already_happened }}</p>
    {% endif %}
    {% if another_user_reserved %}
    <p>{{ another_user_reserved }}</p>
    {% endif %}
</div>

</html>