<!DOCTYPE html>
<html>
<head>
	<title>IT Staff Signup</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
	<h1>IT Staff Signup</h1>
		<form action="/it_staff_signup" method="post">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required>

			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
			<br>
			<br>
			<button type="submit">Login</button>
		</form>
</body>
</html>
