<!DOCTYPE html>
<html>
<head>
  <title>View Library Classrooms</title>
  <link rel="stylesheet" type="text/css" href="../static/pagination_classroom_view.css" />
  <script type="text/javascript" src="../static/pagination_classroom_view.js"></script>
</head>
<body>
  {% if 'role' in session %} {% if session['role'] == 'teacher' %}
  <form action="teacher/dashboard">
    <div class="button_container">
      <button>Go To Teacher Dashboard</button>
    </div>
  </form>
  {% elif session['role'] == 'it_staff' %}
  <form action="it_staff/dashboard">
    <div class="button_container">
      <button>Go To IT Staff Dashboard</button>
    </div>
  </form>
  {% elif session['role'] == 'student' %}
  <form action="/redirect_student_dashboard">
    <div class="button_container">
      <button>Go To Student Dashboard</button>
    </div>
  </form>
  {% endif %} {% endif %}
  <br />
  <div class="center-container">
    <h2>Press classroom image to reserve the classroom.</h2>
  </div>
  <div id="image-container">
    <img src="../static/images/LIBB16B.png" width="300" height="300"
      onclick="redirectToReservationScreen('LIB B16B', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/LIB212E.png" width="300" height="300"
      onclick="redirectToReservationScreen('LIB 212E', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/LIB212D.png" width="300" height="300"
      onclick="redirectToReservationScreen('LIB 212D' , '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
  </div>
  <div id="pagination">
    <a href="#" onclick="showPage(1)">1</a>
  
  </div>
</body>
</html>