<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/../static/news_attendance.css">
    <title>Inside The News</title>
</head>
<body>
    <h1>If you want to attend in this event, please click on attend.</h1>
        <form action="/attend_or_not" method="POST">
            <input type="hidden" name="title" value="{{title}}">
            <input type="hidden" name="start_time" value="{{start_time}}">
            <input type="hidden" name="end_time" value="{{end_time}}">
            <input type="hidden" name="start_date" value="{{start_date}}">
            <input type="hidden" name="end_date" value="{{end_date}}">
            <input type="hidden" name="sender" value="{{sender}}">
            <input type="hidden" name="role" value="{{role}}">
            <button>Yes, I want to attend this event</button>
        </form>
        <form action="/redirect_student_dashboard">
                <button>No, I do not want to attend this event</button>
        </form>
</body>
</html>