<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside The News</title>
</head>

<body>
    <div class="top_header">If you want to attend in this event, please click on attend.</div>
    <div class="middle_middle">

        <form action="/redirect_Student_dashboard_From_news">

            <button>No, I dont wan't to attend</button>
        </form>


        <form action="/attend_or_not">

            <button value="don_t_attend">Yes, I want to attend</button>
        </form>
        <p>{{title}}</p>
        <p>{{news_1}}</p>
        <p>{{news_2}}</p>
        <p>{{news_3}}</p>
        <p>{{news_4}}</p>
        <p>{{news_5}}</p>
        <p>{{news_6}}</p>
    </div>
    <div class="bottom"></div>
</body>

</html>