<!DOCTYPE html>
<html>
<head>
	<title>Welcome to KuClass App</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<script src="../static/opening_screen.js"></script>
</head>
<body>
	<h1>Welcome to KuClass App</h1>
	<button id="description-button" onclick="location.href='/open_description_text';">See KuClass Description Text</button>
	<form action="/select_role" method="post">
		<label for="roles">Select your role:</label>
		<select id="roles" name="roles">
			<option value="teacher">Teacher</option>
			<option value="student">Student</option>
			<option value="it_staff">IT Staff</option>
			<option value="admin">Admin</option>
		</select>
		<label for="background-color">Select background color:</label>
		<select id="background-color" name="background-color" onchange="changeBackgroundColor(this.value)">
			<option value="white">White</option>
			<option value="gray">Gray</option>
			<option value="lightblue">Light Blue</option>
			<option value="lightgreen">Light Green</option>
			<option value="lightyellow">Light Yellow</option>
			<option value="pink">Pink</option>
			<option value="purple">Purple</option>
			<option value="orange">Orange</option>
			<option value="red">Red</option>
			<option value="blue">Blue</option>
		</select>
		<br><br>
		<input type="hidden" name="submit" value="true">
		<input type="submit" value="Submit">
	</form>

	<p>&copy; 2023 KuClass App. All rights reserved.</p>
</body>
</html>
