<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Opening Screen Help</title>
    <link rel="stylesheet" type="text/css" href="../static/opening_screen_help.css">
    <script src="../static/opening_help.js"></script>
  </head>
  <body>
    <h1>KuClass Opening Screen Help</h1>
    <p id="opening_screen_help">
        Select your role from the options of admin, student, teacher, and it staff. 
        Then, select a background color of your choice from the given options.
        Finally, press submit button to proceed to the screen of your role where you 
        can go to signup or login screen.
    </p>
    <form action="/goToOpeningScreen">
        <button id="goToOpeningScreen">Go to Opening Screen</button>
    </form>
  </body>
</html>