<!DOCTYPE html>
<html>

<head>
	<title>Welcome to KuClass App</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<script src="../static/opening_screen.js"></script>
</head>


<body>

	<h1>Welcome to KuClass App</h1>

	<div class="images">
		<img src="../static/images/img1.png" class="image" width="220" height="220">
	</div>


	<button id="description-button" onclick="location.href='/open_description_text';">See KuClass Description
		Text</button>
	<button id="opening-screen-help-button" onclick="location.href='/get_opening_help';">See Opening Screen
		Help</button>
	<form action="/select_role" method="post">
		<label for="roles">Select your role:</label>
		<div id="roles">

			<label>
				<input type="radio" name="roles" value="student">

				<img src="../static/images/student.png" alt="Student">
				<figcaption>Student</figcaption>


			</label>
			<label>
				<input type="radio" name="roles" value="teacher">

				<img src="../static/images/teacher_cartoon.jpeg" alt="Teacher">
				<figcaption>Teacher</figcaption>

			</label>
			<label>
				<input type="radio" name="roles" value="it_staff">

				<img src="../static/images/it_staff.jpeg" alt="IT Staff">
				<figcaption>IT Staff</figcaption>

			</label>
			<label>
				<input type="radio" name="roles" value="admin">

				<img src="../static/images/admin_cartoon.jpeg" alt="Admin">
				<figcaption>Admin</figcaption>

			</label>
		</div>
		<label for="background-color">Select background color:</label>
		<select id="background-color" name="background-color" onchange="changeBackgroundColor(this.value)">
			<option value="white">White</option>
			<option value="gray">Gray</option>
			<option value="lightblue">Light Blue</option>
			<option value="lightgreen">Light Green</option>
			<option value="lightyellow">Light Yellow</option>
			<option value="pink">Pink</option>
			<option value="purple">Purple</option>
			<option value="orange">Orange</option>
			<option value="red">Red</option>
			<option value="blue">Blue</option>
		</select>
		<br><br>
		<input type="hidden" name="submit" value="true">

		<input type="submit" value="Submit">


	</form>

	<p>&copy; 2023 KuClass App. All rights reserved.</p>
</body>
<script>
	let imageIndex = 1;
	let selectedImage = document.querySelector(".image");
	let imagesList = ["../static/images/img1.png", "../static/images/img2.png", "../static/images/img3.png"];
	setInterval(() => {
		if (imageIndex + 1 > imagesList.length) {
			imageIndex = 0;
		}

		selectedImage.src = imagesList[imageIndex];
		imageIndex = imageIndex + 1;
	}, 1000);
</script>

</html>