<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="../static/password_change.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		.error-message {
			color: red;
			font-weight: bold;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<h1>Change Password</h1>
	<form action="/student_password_change" method="POST">
		<label for="email">Email:</label>
		<input type="email" name="email" value="{{ email }}" required>
		<br>
		<label for="new_password">New Password:</label>
		<input type="password" name="new_password" required>
		<br>
		<label for="confirm_password">Confirm Password:</label>
		<input type="password" name="confirm_password" required>
		<br>
		<input type="submit" value="Submit">
	</form>
	<div class="error-message" style="display: none;"></div>
	<button onclick="goToLogin()">Go To Student Login Screen</button>

	<script>
		function goToLogin() {
			window.location.href = "/student_login";
		}

		document.querySelector('form').addEventListener('submit', function(e) {
    e.preventDefault();
    var email = document.querySelector('input[name=email]').value;
    var new_password = document.querySelector('input[name=new_password]').value;
    var confirm_password = document.querySelector('input[name=confirm_password]').value;

    // Check if email is a KU domain email
    if (!email.endsWith("@ku.edu.tr") && !email.endsWith("@KU.EDU.TR")) {
        // Display error message
        var error = document.createElement('div');
        error.textContent = 'Please enter a valid KU domain email.';
        document.querySelector('#message').appendChild(error);
        return;
    }

    if (new_password != confirm_password) {
        // Display error message
        var error = document.createElement('div');
        error.textContent = 'Passwords do not match.';
        document.querySelector('#message').appendChild(error);
    } else {
        fetch('/student_password_change', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: email,
                new_password: new_password
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(response.statusText);
            }
            return response.json();
        })
        .then(data => {
            // Render success message
            var success = document.createElement('div');
            success.textContent = data.message;
            document.querySelector('#message').appendChild(success);
        })
        .catch(error => {
            // Display error message
            var errorDiv = document.createElement('div');
            errorDiv.textContent = error.message;
            document.querySelector('#message').appendChild(errorDiv);
        });
    }
});
  </script>
