<!DOCTYPE html>
<html>

<head>
  <title>Change Password</title>
  <link rel="stylesheet" type="text/css" href="../static/password_change.css">
</head>
<h1>Change Password</h1>
<form action="/change_user_password" autocomplete="off" method="POST" id="password-form">
  <label for="email">Email:</label>
  <input type="email" name="email" placeholder="Please enter your email here" required>
  <br>
  <label for="new_password">New Password:</label>
  <input type="password" name="new_password" placeholder="Please enter your new password here" required>
  <br>
  <label for="confirm_password">Confirm Password:</label>
  <input type="password" name="confirm_password" placeholder="Please confirm your new password here" required>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
{% if email_not_found_error %}
<p class="error-message">{{ email_not_found_error }}</p>
{% endif %}
{% if invalid_password_error %}
<p class="error-message">{{ invalid_password_error }}</p>
{% endif %}
</body>

</html>