<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Reservation Code</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/reservation_code.css"
    />
  </head>
  <body>
    <form action="/sendReservationInformationAsEmail" method="POST">
      <input
        type="text"
        name="reservationInfoReceiver"
        value="kuclass2023@gmail.com"
        readonly
      />
      <br />
      <button class="reservationInformation" type="submit">
        Send Reservation Information To The Specified Email
      </button>
    </form>
    <form class="h1-form">
      <h1>Classroom Reservation Code</h1>
    </form>
    <form class="reservation-code-form">
      {% if reservation_code %}
      <h1 class="class_reservation_code">
        You can use this classroom reservation code to save your reservation to
        the daily schedule of classroom you want to reserve before entering it:
        {{reservation_code}} <br/><br/>You should type this reservation code to the
        digital screen of the classroom for saving your reservation. For viewing
        the reservation information, please open an email account with an email
        starting with kuclass2023.
      </h1>
      {% endif %}
    </form>
    {% if 'role' in session %} {% if session['role'] == 'teacher' %}
    <form action="teacher/dashboard">
      <button>Go To Teacher Dashboard</button>
    </form>
    {% elif session['role'] == 'it_staff' %}
    <form action="it_staff/dashboard">
      <button>Go To IT Staff Dashboard</button>
    </form>
    {% elif session['role'] == 'student' %}
    <form action="/redirect_student_dashboard">
      <button>Go To Student Dashboard</button>
    </form>
    {% endif %} {% endif %}
  </body>
</html>
