<!DOCTYPE html>
<html>
  <head>
    <title>Reservation Statistics</title>
    <link rel="stylesheet" type="text/css" href="../static/reservation_statistics.css"/>
  </head>
  <body>
    <div class="card">
      <p class="intro">Plots of Reservation Statistics</p>
      <div class="group-container">
        <div class="btn-group">
          <h1>Plot Histogram of Reservation Number by Role</h1>
          <button onclick="location.href='/see_plot_of_reservation_num_per_role';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot Histogram of Reservation Number by Reservation Purpose</h1>
          <button onclick="location.href='/see_plot_of_reservation_num_per_purpose';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot Histogram of Reservation Number by Class Name</h1>
          <button onclick="location.href='/see_plot_of_reservation_num_per_class';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot Histogram of Reservation Number by Priority Value</h1>
          <button onclick="location.href='/see_plot_of_reservation_num_per_priority';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot PieChart of Reservation Number by Role</h1>
          <button onclick="location.href='/see_piechart_of_reservation_num_per_role';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot PieChart of Reservation Number by Reservation Purpose</h1>
          <button onclick="location.href='/see_piechart_of_reservation_num_per_purpose';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot PieChart of Reservation Number by Class Name</h1>
          <button onclick="location.href='/see_piechart_of_reservation_num_per_class';">Plot Data</button>
        </div>
        <div class="btn-group">
          <h1>Plot PieChart of Reservation Number by Priority Value</h1>
          <button onclick="location.href='/see_piechart_of_reservation_num_per_priority';">Plot Data</button>
        </div>
      </div>
    </div>
  </body>
</html>
