<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/student_reservation.css">
</head>

<body>
    <!----------------Left Half Div *-------------------------------------------------->
    <div class="left_half" id="reservationForm" style="display:block;">
        <form action="/reservingClass" method="POST" style="text-align:center;">
            <h2>RESERVE A CLASS</h2>
            <label for="Class-Codes">Select your class code</label>
            <input type="text" name="class_num" placeholder="Enter your class code">
            <label for="">or select one from the drop down list</label>
            <select id="class-selector" name="class-code">
                <option value="engz50">engz50</option>
                <option value="sci124">sci124</option>
                <option value="sosb08">sosb08</option>
                <option value="sosb09">sosb09</option>
            </select>
            <br>
            <br>
            <label for="Please specify time">Please specify date and time</label>
            <input type="time" name="time" Specify time>
            <input type="date" name="date_input">
            <br>
            <label for="">Specify whether you want to study alone or with other people</label>
            <label>
                <input type="radio" name="option" value="private" checked>
                I want private class
            </label>
            <label>
                <input type="radio" name="option" value="public">
                I want public class
            </label>
            <br>
            <button type="submit">Click to submit reservation</button>
        </form>
    </div>
    <!----------------Left Half Div *-------------------------------------------------->

</body>

</html>