<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please select floor</title>
</head>

<body>
    <h1>Select your floor</h1>
    <div class="floors_div">
        <label for="">Floors above ground floor.</label>
        <form action=""><button>Floor : 3</button></form>
        <form action=""><button>Floor : 2</button></form>
        <form action=""><button>Floor : 1</button></form>
    </div>
    <div class="floors_div">
        <form action=""><button>Ground Floor</button></form>
    </div>
    <div class="floors_div">
        <label for="">Floors above ground floor.</label>
        <form action=""><button>Floor : -1</button></form>
        <form action=""><button>Floor : -2</button></form>
        <form action=""><button>Floor : -3</button></form>
    </div>
</body>

</html>