<!DOCTYPE html>
<html>
<head>
    <title>View SNA-A Classrooms</title>
    <link rel="stylesheet" type="text/css" href="../static/pagination_classroom_view.css" />
    <script type="text/javascript" src="../static/pagination_classroom_view.js"></script>
</head>
<body>
    {% if 'role' in session %} {% if session['role'] == 'teacher' %}
    <form action="teacher/dashboard">
        <div class="button_container">
            <button>Go To Teacher Dashboard</button>
        </div>
    </form>
    {% elif session['role'] == 'it_staff' %}
    <form action="it_staff/dashboard">
        <div class="button_container">
            <button>Go To IT Staff Dashboard</button>
        </div>
    </form>
    {% elif session['role'] == 'student' %}
    <form action="/redirect_student_dashboard">
        <div class="button_container">
            <button>Go To Student Dashboard</button>
        </div>
    </form>
    {% endif %} {% endif %}
    <br />
    <div class="center-container">
        <h2>Press classroom image to reserve the classroom.</h2>
    </div>
    <div id="image-container">
        <img src="../static/images/SNAA43.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA A43', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAZ53.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA Z53', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA223.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 223', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAA52.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA A52', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAA51.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA A51', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAA42.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA A42', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAA22.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA A22', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAA21.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA A21', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAA11.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA A11', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAA44.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA A44', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA159.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 159', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA158.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 158', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA157.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 157', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA156.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 156', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA122.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 122', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA104.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 104', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA103.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 103', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
    </div>
    <div id="pagination">
        <a href="#" onclick="showPage(1)">1</a>
        <a href="#" onclick="showPage(2)">2</a>
  
    </div>
</body>
</html>
