<!DOCTYPE html>
<html>

<head>
    <title>View SNA-B Classrooms</title>
    <link rel="stylesheet" type="text/css" href="../static/pagination_classroom_view.css" />
    <script type="text/javascript" src="../static/pagination_classroom_view.js"></script>
</head>

<body>
    
    {% if 'role' in session %} {% if session['role'] == 'teacher' %}
    <form action="teacher/dashboard">
        <div class="button_container">
            <button>Go To Teacher Dashboard</button>
        </div>
    </form>
    {% elif session['role'] == 'it_staff' %}
    <form action="it_staff/dashboard">
        <div class="button_container">
            <button>Go To IT Staff Dashboard</button>
        </div>
    </form>
    {% elif session['role'] == 'student' %}
    <form action="/redirect_student_dashboard">
        <div class="button_container">
            <button>Go To Student Dashboard</button>
        </div>
    </form>
    {% endif %} {% endif %}
    <br />
    <div class="center-container">
        <h2>Press classroom image to reserve the classroom.</h2>
    </div>
    <div id="image-container">
        <img src="../static/images/SNAZ53.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA Z53', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA223.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 223', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB242.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA B242', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB149.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA B149', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB220.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA B220', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB172.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA B172', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB153.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA B153', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB152.png" width="300" height="300"
            onclick="redirectToReservationScreen('SCI 152', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB119.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA B119', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB184.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA B184', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNAB173.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA B173', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA159.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 159', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA158.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 158', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA157.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 157', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA156.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 156', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA122.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 122', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA104.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 104', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
        <img src="../static/images/SNA103.png" width="300" height="300"
            onclick="redirectToReservationScreen('SNA 103', '{{ session.role }}')" name="openStudentReservationScreen"
            value="openStudentReservationScreen" />
    </div>
    <div id="pagination">
        <a href="#" onclick="showPage(1)">1</a>
        <a href="#" onclick="showPage(2)">2</a>
    </div>
</body>

</html>
