<!DOCTYPE html>
<html>
<head>
  <title>View Sos Classrooms</title>
  <link rel="stylesheet" type="text/css" href="../static/pagination_classroom_view.css" />
  <script type="text/javascript" src="../static/pagination_classroom_view.js"></script>
</head>
<body>
  {% if 'role' in session %} {% if session['role'] == 'teacher' %}
  <form action="teacher/dashboard">
    <div class="button_container">
      <button>Go To Teacher Dashboard</button>
    </div>
  </form>
  {% elif session['role'] == 'it_staff' %}
  <form action="it_staff/dashboard">
    <div class="button_container">
      <button>Go To IT Staff Dashboard</button>
    </div>
  </form>
  {% elif session['role'] == 'student' %}
  <form action="/redirect_student_dashboard">
    <div class="button_container">
      <button>Go To Student Dashboard</button>
    </div>
  </form>
  {% endif %} {% endif %}
  <br />
  <div class="center-container">
    <h2>Press classroom image to reserve the classroom.</h2>
  </div>
  <div id="image-container">
    <img src="../static/images/SOSB11.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B11', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB08.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B08', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS186.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 186', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSZ27.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS Z27', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSZ21.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS Z21', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSZ15.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS Z15', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSZ14.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS Z14', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB35.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B35', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB30.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B30', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB29.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B21', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB28.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B28', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB21.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B21', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB16.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B16', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB10.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B10', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB07.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B07', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS145.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 145', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS144.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 144', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS104.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 104', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS103.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 103', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
  </div>
  <div id="pagination">
    <a href="#" onclick="showPage(1)">1</a>
    <a href="#" onclick="showPage(2)">2</a>
  </div>
</body>
</html>
