<!DOCTYPE html>
<html>

<head>
    <title>Student Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <button onclick="hideOrOpenSignupHelp()" name="student-signup-guide" value="student-signup-guide"
        id="student-signup-guide">Open Student Signup Guide</button>
    <p id="student-signup-help-text" style="display: none;">
        Please enter your username and password in the below textboxes. To close the student signup guide,
        press the button of student signup guide again.
    </p>
    <h1>Student Signup</h1>
    <form action="{{ url_for('student_signup') }}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Signup">
    </form>

    {% if error_message %}
    <p>{{ error_message }}</p>
    <button onclick="window.location.href='/student_login'" name="student-login" value="student-login"
        id="student-login">Go to Student Login</button>
    {% endif %}

    {% if success_message %}
    <p>{{ success_message }}</p>
    <button onclick="window.location.href='{{ button_url }}'" name="student-dashboard" value="student-dashboard"
        id="student-dashboard">{{ button_text }}</button>
    {% endif %}

    <script>
        function hideOrOpenSignupHelp() {
            var signupHelpText = document.getElementById("student-signup-help-text");
            var signupGuideButton = document.getElementById("student-signup-guide");
            if (signupHelpText.style.display === "none") {
                signupHelpText.style.display = "block";
                signupGuideButton.textContent = "Close Student Signup Guide";
            } else {
                signupHelpText.style.display = "none";
                signupGuideButton.textContent = "Open Student Signup Guide";
            }
        }
    </script>
</body>

</html>
