<!DOCTYPE html>
<html>
<head>
    <title>Student Signup</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <h1>Student Signup</h1>
    <form action="/student_signup" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <br>
        <br>
        <button type="submit">Signup</button>
    </form>

    {% if alert_message %}
        <p>{{ alert_message }}</p>
        <!-- Button to go to student dashboard -->
        <button onclick="goToStudentDashboard()" class="button">Go To Student Dashboard</button>
        <script>
            // Function to redirect to student dashboard
            function goToStudentDashboard() {
                window.location.href = "{{ url_for('student_dashboard') }}";
            }
        </script>
    {% endif %}

    {% if error_message %}
        <p>{{ error_message }}</p>
        <!-- Button to go to student login screen -->
        <button onclick="goToStudentLogin()" class="button">Go To Student Login Screen</button>
        <script>
            // Function to redirect to student login screen
            function goToStudentLogin() {
                window.location.href = "{{ url_for('student_login') }}";
            }
        </script>
    {% endif %}
</body>
</html>
