<!DOCTYPE html>
<html>

<head>

    <title>Student Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/dashboard.css">

</head>

<body>
    <h1>Student Dashboard</h1>
    <div class="container">
        <div class="buttons">
            <form action="/openReserveClass" method="POST"> <button onclick="toggleReservation()">Reserve A
                    Classroom</button>
            </form>




        </div>
        <div class="buttons">
            <form action="/openITReportScreen" method="POST"> <button>Report To IT</button></form>
        </div>

        <div class="buttons">
            <form action="/showTheClassroomAndInfo" method="GET"> <button>Show Classroom Info</button></form>
        </div>


    </div>





    <!----------------Right Half Div *-------------------------------------------------->



    <!----------------Right Half Div *-------------------------------------------------->






    <!----------------customized_student_dashboard Div *-------------------------------------------------->




    <!----------------Chat *-------------------------------------------------->








</body>

</html>