<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/student_dashboard.css">
</head>

<body>
    <h1>Student Dashboard</h1>
    <div class="container">
        <div class="buttons">
            <form action="/openReserveClass" method="GET"> <button>Reserve A Classroom</button>
            </form>
        </div>
        <div class="buttons">
            <form action="/openITReportScreen" method="GET"> <button>Report To IT</button></form>
        </div>
        <div class="buttons">
            <form action="/StudentReservesAClass" method = "POST"> <button>See Reserved Classes</button></form>
        </div>
        <div class="buttons">
            <form action="/showTheClassroomAndInfo" method="GET"> <button>Show Classroom Info</button></form>
        </div>
    </div>
    <!----------------Chat *-------------------------------------------------->
</body>

</html>