<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/student_signup_screen_guide.css"
    />
    <title>KuClass Student Login Screen Guide</title>
  </head>

  <body>
    <h1>KuClass Student Login Screen Guide</h1>
    <p id="student-signup-help-text">
      In the student login screen, please type the username, password, and email
      which you have used for signing up to the system to their corresponding
      textboxes. Then, in order to login to the system, press the Login button
      below the textboxes. If you forgot your password, you can click on the
      "Forgot Password" button which is below the "Login" button. If you have
      not signed up to the system yet, please firstly signup. Please make sure
      that the password you type to the password textbox contains at least 1
      special character, 1 uppercase letter, 1 lowercase letter, and 1 digit.
      Please also make sure that your login password contains at least 8
      characters. If you have not got an email address which is from KU Domain,
      you cannot login to our system. So, make sure that you are logging in to
      our system with an email which belongs to KU Domain. Finally, for
      observing the guide information about student login screen, please press
      "Open Student Login Guide" button.
    </p>
    <form action="/student/login">
      <button id="goToStudentSignupScreen">Go to Student Login Screen</button>
    </form>
  </body>
</html>
