<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/success_deletion.css">
    <title>Successful Reservation Information Sending</title>
</head>

<h1>Classroom Reservation Information has been successfully sent to the email of KuClass.</h1>
</body>
<form action="/get_reservation_code_viewing_screen">
    <button>Go To Classroom Reservation Code View</button>
</form>
</html>