<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/../static/reservation_success.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Success</title>
</head>

<body>
    <div class="container">
        <h1>You have successfully attended this event. Have fun.</h1>
        <form action="student/dashboard">
            <button>Go To Student Dashboard</button>
        </form>
    </div>
</body>

</html>