<!DOCTYPE html>
<html>

<head>
	<title>Teacher Signup</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
	<h1>Teacher Signup</h1>
	<form action="/teacher_signup" autocomplete = "off" method="post">
		<label for="username">Username</label>
		<input required type="text" id="username" placeholder="Please enter your username to signup" name="username" required>
		<label for="password">Password</label>
		<input required type="password" id="password" placeholder="Please enter your password to signup" name="password"
			required>
		<label for="email">Email:</label>
		<input required type="email" id="email" name="email" placeholder="Please enter your email address to signup" required
			maxlength="50">
		<br>
		<br>
		<button type="submit">Signup</button>
	</form>
	{% if username_taken_error %}
    <p>{{ username_taken_error }} </p>
    {% endif %}
    {% if not_ku_error %}
    <p>{{ not_ku_error }} </p>
    {% endif %}
	{% if credentials_coincide_error %}
    <p>{{ credentials_coincide_error }} </p>
    {% endif %}
    {% if email_taken_error %}
    <p>{{ email_taken_error }} </p>
    {% endif %}
    {% if invalid_password_error %}
    <p>{{ invalid_password_error|safe }} </p>
    {% endif %}    
	{% if error_message %}
	<p>{{ error_message }}</p>
	<button onclick="window.location.href='/teacher_login'" name="teacher-login" value="teacher-login"
		id="student-login">Go to Teacher Login</button>
	{% endif %}

	{% if success_message %}
	<p>{{ success_message }}</p>
	<button onclick="window.location.href='{{ button_url }}'" name="teacher-dashboard" value="teacher-dashboard"
		id="teacher-dashboard">{{ button_text }}</button>
	{% endif %}

</body>

</html>