<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Reservation Screen</title>
    <link rel="stylesheet" href="../static/teacher_reservation_screen.css">
</head>

<body>
    <div class="my_div" id="reservationForm">
        <form action="/reserve_class" method="POST">
            <h2>Teacher Class Reservation Screen</h2>
            <label class = "other-label" for="role">Select your role</label>
            <select id="class-selector" name="role">
                <option value="student">student</option>
                <option value="teacher">teacher</option>
                <option value="it_staff">it_staff</option>
            </select>
            <label class = "other-label" for="Class-Codes">Select your class code</label>
            <input required type="text" name="class_num" placeholder="Enter your class code">
            <label class = "other-label" for="">or select one from the drop down list</label>
            <select id="class-selector" name="class-code">
                <!--
                    sınıfların api'ı alındıktan sonra arr1 dan sınıflar çekilip select elementlar for loop içinde doldurulacak
                    const arr1 = ['Option 1', 'Option 2', 'Option 3'];
                -->
                {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <br>
            <label class = "other-label" for="Please specify time">Please specify date and time</label>
            <input required name="time" type="time" required>
            <input required name="date" type="date" re>
            <br>
            <label class = "other-label" for="">Please specify your purpose of reservation.</label>
            <label class = "option-label">
                <input required type="radio" name="option" value="exam" required>
                I want to reserve for an exam.
            </label>
            <label class = "option-label">
                <input required type="radio" name="option" value="lecture">
                I want to reserve for a lecture.
            </label>
            <label class = "option-label">
                <input required type="radio" name="option" value="ps">
                I want to reserve for a ps.
            </label>
            <button type="submit">Click to submit reservation</button>
        </form>
    </div>
</body>


</html>