<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/../static/admin_create_news.css">
    <title>Create Announcement</title>
</head>

<body style="background-color: bisque;">
    <h1>Create A News</h1>
    <div class="news_creation_box" style="background-color: bisque;">
        <form action="/makeAnnouncement" method="POST">
            <label for="news_message">Announcement message:</label><br>
            <textarea id="news_message" name="news_message" rows="4" cols="50"></textarea><br>

            <label for="date">Start Date:</label><br>
            <input type="date" id="date" name="date"><br>

            <label for="time">Start Time:</label><br>
            <input type="time" id="time" name="time"><br>

            <label for="date_end">End Date:</label><br>
            <input type="date" id="date_end" name="date_end"><br>

            <label for="time_end">End Time:</label><br>
            <input type="time" id="time_end" name="time_end"><br>

            <input type="submit" value="Submit">
        </form>

    </div>
</body>

</html>