<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/teacher_signup_guide.css"
    />
    <title>KuClass Teacher Signup Screen Guide</title>
  </head>

  <body>
    <h1>KuClass Teacher Signup Screen Guide</h1>
    <p id="teacher-signup-help-text">
      Please enter your username, password, and email in the corresponding
      textboxes of the teacher signup screen. Please do not leave any of these
      fields empty. You cannot signup to the system unless your email is from
      the KU Domain. The password you will type should include at least 8
      characters. Among these characters, at least; 1 special character, 1
      lowercase character, 1 digit, and 1 uppercase character should appear.
      Once you have entered all fields, you can press the Submit button and then
      proceed to the Teacher Dashboard Screen.
    </p>
    <form action="/teacher/signup">
      <button id="goToTeacherSignupScreen">Go to Teacher Signup Screen</button>
    </form>
  </body>
</html>
