<!DOCTYPE html>
<html>
<head>
	<title>Teacher Signup</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
	<h1>Teacher Signup</h1>
		<form action="/teacher_signup" method="post">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required>
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
			<label for="email">Email:</label>
<input type="email" id="email" name="email" placeholder="Enter your email address" required autocomplete="email" maxlength="50">
			<br>
			<br>
			<button type="submit">Signup</button>
		</form>
</body>
</html>
