<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Reservation Screen</title>
  <link rel="stylesheet" href="../static/teacher_reservation_screen.css">
</head>
<body>
    <div class="my_div" id="reservationForm">
        <form action="/reserve_class" method="POST">
            <h2>Reserving a class</h2>
            <label for="role">Select your role</label>
            <select id="class-selector" name="role">
                <option value="student">student</option>
                <option value="teacher">teacher</option>
                <option value="it_staff">it_staff</option>
            </select>
            <label for="Class-Codes">Select your class code</label>
            <input type="text" name="class_num" placeholder="Enter your class code">
            <label for="">or select one from the drop down list</label>
            <select id="class-selector" name="class-code">
                <!--
                    sınıfların api'ı alındıktan sonra arr1 dan sınıflar çekilip select elementlar for loop içinde doldurulacak
                    const arr1 = ['Option 1', 'Option 2', 'Option 3'];
                -->
                <option value="engz50">engz50</option>
                <option value="sci124">sci124</option>
                <option value="sosb08">sosb08</option>
                <option value="sosb09">sosb09</option>
            </select>
            <br>
            <br>
            <br>
            <label for="Please specify time">Please specify date and time</label>
            <input name="time" type="time">
            <input name="date" type="date">
            <br>
            <label for="">Please specify your purpose of reservation.</label>
            <label>
                <input type="radio" name="option" value="exam">
                I want to reserve for an exam.
            </label>
            <label>
                <input type="radio" name="option" value="lecture">
                I want to reserve for a lecture.
            </label>
            <label>
                <input type="radio" name="option" value="ps">
                I want to reserve for a ps.
            </label>
            <button type="submit">Click to submit reservation</button>
    </form>
</div>
</body>


</html>