<!DOCTYPE html>
<html>

<head>
  <title>View Classrooms</title>
  <link rel="stylesheet" type="text/css" href="../static/pagination_classroom_view.css" />
  <script type="text/javascript" src="../static/pagination_classroom_view.js"></script>
</head>

<body>
  {% if 'role' in session %} {% if session['role'] == 'teacher' %}
  <form action="teacher/dashboard">
    <div class="button_container">
      <button>Go To Teacher Dashboard</button>
    </div>
  </form>
  {% elif session['role'] == 'it_staff' %}
  <form action="it_staff/dashboard">
    <div class="button_container">
      <button>Go To IT Staff Dashboard</button>
    </div>
  </form>
  {% elif session['role'] == 'student' %}
  <form action="redirect_student_dashboard">
    <div class="button_container">
      <button>Go To Student Dashboard</button>
    </div>
  </form>
  {% endif %} {% endif %}
  <br />
  <div class="center-container">
    <h2>Press classroom image to reserve the classroom.</h2>
  </div>
  <div id="image-container">

    <img src="../static/images/CASEB19.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B19', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ48.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z48', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ33.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z33', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ27.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z27', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ26.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z26', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ25.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z25', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ24.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z24', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ16C.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z16C', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ16B.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z16B', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ16A.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z16A', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEZ08.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE Z08', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB41.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B41', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASE133.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE 133', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB40.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B40', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB39.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B39', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB38.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B38', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB35.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B35', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB34.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B34', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB33.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B33', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB31.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B31', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB30B.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B30B', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB30A.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B30A', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB26.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B26', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB24.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B24', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB15.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B15', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB13.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B13', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB12.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE B12', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASE216.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE 216', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASE124.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE 124', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASE136.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE 136', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASE134.png" width="300" height="300"
      onclick="redirectToReservationScreen('CASE 134', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />

    <img src="../static/images/ELCB08.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B08', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ELCB15.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B15', '{{ session.role }}')" />
    <img src="../static/images/ELCB13.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B13', '{{ session.role }}')" />
    <img src="../static/images/ELCB12.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B12', '{{ session.role }}')" />
    <img src="../static/images/ELCB10.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B10', '{{ session.role }}')" />
    <img src="../static/images/ELCB09.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B09', '{{ session.role }}')" />
    <img src="../static/images/ELCB07.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B07', '{{ session.role }}')" />
    <img src="../static/images/ELCB06.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B06', '{{ session.role }}')" />
    <img src="../static/images/ELCB04.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B04', '{{ session.role }}')" />
    <img src="../static/images/ELCB03.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC B03', '{{ session.role }}')" />
    <img src="../static/images/ELC115.png" width="300" height="300"
      onclick="redirectToReservationScreen('ELC 115', '{{ session.role }}')" />

    <img src="../static/images/ENGB210.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG 210', '{{ session.role }}')" />
    <img src="../static/images/ENG114.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG 114', '{{ session.role }}')" />
    <img src="../static/images/ENGB50.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B50', '{{ session.role }}')" />
    <img src="../static/images/ENG128.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG 128', '{{ session.role }}')" />
    <img src="../static/images/ENGZ21.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG Z21', '{{ session.role }}')" />
    <img src="../static/images/ENGB19.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B19', '{{ session.role }}')" />
    <img src="../static/images/ENGZ15.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG Z15', '{{ session.role }}')" />
    <img src="../static/images/ENGZ27.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG Z27', '{{ session.role }}')" />
    <img src="../static/images/ENGZ50.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG Z50', '{{ session.role }}')" />
    <img src="../static/images/ENGB30.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B30', '{{ session.role }}')" />
    <img src="../static/images/ENGZ21A.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG Z21A', '{{ session.role }}')" />
    <img src="../static/images/ENGB42.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B42', '{{ session.role }}')" />
    <img src="../static/images/ENGB32.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B32', '{{ session.role }}')" />
    <img src="../static/images/ENGB29.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B29', '{{ session.role }}')" />

    <img src="../static/images/ENGB21.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B21', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENGB20B.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B20B', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENGB20A.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B20A', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENGB18.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B18', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENGB16.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B16', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENGB15.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B15', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENGB11.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B11', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENGB06.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B06', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENGB05.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B05', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENG120.png" width="300" height="300"
      onclick="redirectToReservationScreen('ENG B120', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />


    <img src="../static/images/LIBB16B.png" width="300" height="300"
      onclick="redirectToReservationScreen('LIB B16B', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/LIB212E.png" width="300" height="300"
      onclick="redirectToReservationScreen('LIB 212E', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/LIB212D.png" width="300" height="300"
      onclick="redirectToReservationScreen('LIB 212D' , '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />


    <img src="../static/images/SCIZ42.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI Z42', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCIZ32.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI Z32', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCIZ29.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI Z29', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCIZ24.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI Z24', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCIZ09.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI Z09', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCIZ08.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI Z08', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCIZ07.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI Z07', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCIZ06.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI Z06', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCI129.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI 129', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCI126.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI 126', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCI125.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI 125', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCI103.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI 103', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />



    <img src="../static/images/SNAA43.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA A43', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAZ53.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA Z53', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNA223.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA 223', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB242.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA B242', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB149.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA B149', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB220.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA B220', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB172.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA B172', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB153.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA B153', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB152.png" width="300" height="300"
      onclick="redirectToReservationScreen('SCI 152', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB119.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA B119', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB184.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA B184', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB173.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA B173', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA52.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA A52', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA51.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA A51', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA42.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA A42', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA22.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA A22', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA21.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA A21', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA11.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA A11', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA44.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA A44', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNA159.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA 159', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNA158.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA 158', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNA157.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA 157', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNA156.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA 156', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNA122.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA 122', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNA104.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA 104', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNA103.png" width="300" height="300"
      onclick="redirectToReservationScreen('SNA 103', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />


    <img src="../static/images/SOSB11.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B11', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB08.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B08', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS186.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 186', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSZ27.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS Z27', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSZ21.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS Z21', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSZ15.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS Z15', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSZ14.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS Z14', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB35.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B35', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB30.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B30', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB29.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B21', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB28.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B28', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB21.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B21', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB16.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B16', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB10.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B10', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB07.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS B07', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS145.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 145', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS144.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 144', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS104.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 104', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS103.png" width="300" height="300"
      onclick="redirectToReservationScreen('SOS 103', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />


    <img src="../static/images/STD432.png" width="300" height="300"
      onclick="redirectToReservationScreen('STD 432', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/STDB336.png" width="300" height="300"
      onclick="redirectToReservationScreen('STD B336', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/STDB335.png" width="300" height="300"
      onclick="redirectToReservationScreen('STD B335', '{{ session.role }}')" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />


  </div>
  <div id="pagination">
    <a href="#" onclick="showPage(1)">1</a>
    <a href="#" onclick="showPage(2)">2</a>
    <a href="#" onclick="showPage(3)">3</a>
    <a href="#" onclick="showPage(4)">4</a>
    <a href="#" onclick="showPage(5)">5</a>
    <a href="#" onclick="showPage(6)">6</a>
    <a href="#" onclick="showPage(7)">7</a>
    <a href="#" onclick="showPage(8)">8</a>
    <a href="#" onclick="showPage(9)">9</a>
    <a href="#" onclick="showPage(10)">10</a>
    <a href="#" onclick="showPage(11)">11</a>
    <a href="#" onclick="showPage(12)">12</a>
    <a href="#" onclick="showPage(13)">13</a>
    <a href="#" onclick="showPage(14)">14</a>
    <a href="#" onclick="showPage(15)">15</a>
  </div>
</body>

</html>