<!DOCTYPE html>
<html>

<head>
  <title>View Inside of Classrooms Via Pagination</title>
  <link rel="stylesheet" type="text/css" href="../static/pagination_classroom_view.css" />
  <script type="text/javascript" src="../static/pagination_classroom_view.js"></script>
</head>

<body>
  {% if 'role' in session %} {% if session['role'] == 'teacher' %}
  <form action="teacher/dashboard">
    <div class="button_container">
      <button>Go To Teacher Dashboard</button>
    </div>
  </form>
  {% elif session['role'] == 'it_staff' %}
  <form action="it_staff/dashboard">
    <div class="button_container">
      <button>Go To IT Staff Dashboard</button>
    </div>
  </form>
  {% elif session['role'] == 'student' %}
  <form action="student/dashboard">
    <div class="button_container">
      <button>Go To Student Dashboard</button>
    </div>
  </form>
  {% endif %} {% endif %}
  <br />
  <br />
  <br />
  <h1>Classroom Views</h1>
  <h2>Press Classroom Image to Go To the reservation Screen. (Click when you see the progress circle)</h2>
  <div id="image-container">

    <img src="../static/images/SCI103.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103';" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOS104.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA43.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB242.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB119.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB153.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB172.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAB220.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/snaa22.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SCIZ42.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SNAA51.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/sos144.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/SOSB11.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB39.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB40.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB41.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASE124.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASE134.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/case133.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/CASEB31.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/ENG128.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
    <img src="../static/images/engz15.png" width="300" height="300"
      onclick="location.href='/openStudentReservationScreen?value=SCI 103'" name="openStudentReservationScreen"
      value="openStudentReservationScreen" />
  </div>
  <div id="pagination">
    <a href="#" onclick="showPage(1)">1</a>
    <a href="#" onclick="showPage(2)">2</a>
    <a href="#" onclick="showPage(3)">3</a>
    <a href="#" onclick="showPage(4)">4</a>
    <a href="#" onclick="showPage(5)">5</a>
    <a href="#" onclick="showPage(6)">6</a>
    <a href="#" onclick="showPage(7)">7</a>
    <a href="#" onclick="showPage(8)">8</a>
    <a href="#" onclick="showPage(9)">9</a>
    <a href="#" onclick="showPage(10)">10</a>
    <a href="#" onclick="showPage(11)">11</a>
    <a href="#" onclick="showPage(12)">12</a>
    <a href="#" onclick="showPage(13)">13</a>
    <a href="#" onclick="showPage(14)">14</a>
    <a href="#" onclick="showPage(15)">15</a>
  </div>
</body>

</html>