<!DOCTYPE html>
<html>

<head>
    <title>IT Staff Screen</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<button id="theme-button" class="theme-button" onclick="changeTheme()">Change Theme</button>

<h1>IT Staff Screen</h1>
<input type="button" value="Login" onclick="location.href='/it_staff/login';">
<br>
<input type="button" value="Signup" onclick="location.href='/it_staff/signup';">
<br>
<input type="button" value="Go Back" onclick="location.href='/logout';">
</body>

</html>