<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Staff Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/it_staff_dashboard.css">
</head>
<h1>IT Staff Dashboard</h1>

<div class="container">
    <div class="buttons">
        <form action="/seeITReport" method="POST"> <button>Open IT Problems</button>
        </form>
    </div>
    <div class="buttons">
        <form action="/getFilterAndSearchClassroomsScreen" method="GET">
            <button>Filter and Search Classrooms</button>
        </form>
    </div>
    <div class="buttons">
        <form action="/viewInsidesOfClassrooms" method="GET">
            <button>View Insides of Classrooms</button>
        </form>
    </div>
    <div class="buttons">
        <form action="/classrooms" method="GET">
            <button>Show Classroom Information</button>
        </form>
    </div>
</div>
</body>

</html>